<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<!-- content -->
<ui:define name="body">
<div class="section">
    <h3>Change Your Password</h3>
</div>


<s:div styleClass="section" >
  <h:form id="newPassword">
  <rich:panel>

    <f:facet name="header">change password</f:facet>

    <s:decorate template="/common/layout/edit.xhtml">
      <ui:define name="label">Password:</ui:define>
      <h:inputSecret id="password" value="#{changePassword.clearPassword}" required="true"/>
    </s:decorate>

    <s:decorate template="/common/layout/edit.xhtml">
      <ui:define name="label">Verify:</ui:define>
      <h:inputSecret id="verify" value="#{changePassword.verify}" required="true"/>
    </s:decorate>
    
    <div style="clear:both">
         <span class="required">*</span>
         required fields
    </div>

    <div class="actionButtons">
      <h:commandButton id="change" value="Change" action="#{changePassword.changePassword}"  
         styleClass="button" disabled="#{!s:hasRole('changePassword_changePassword')}" />
      <s:button id="cancel" value="Cancel" action="main"  
         styleClass="button" rendered="#{s:hasRole('changePassword')}" />
    </div>

  </rich:panel>
  </h:form>
</s:div>
</ui:define>

<!-- sidebar -->
<ui:define name="sidebar">
<h1>changePassword use case</h1>
</ui:define>

</ui:composition>