<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">

    <div>
      <h3>Gestion of usecases</h3>
    </div>

    <h:form id="usecaseSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Usecase search parameters" switchType="ajax" width="30%">

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">name</ui:define>
                <h:inputText id="name" value="#{usecaseList.usecase.name}"/>
            </s:decorate>

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">display</ui:define>
                <h:inputText id="display" value="#{usecaseList.usecase.display}"/>
            </s:decorate>


        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/security/usecaseList/UsecaseList.xhtml"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Usecase search results</f:facet>
    <div class="results" id="usecaseList">

    <h:outputText value="No usecase exists"
               rendered="#{empty usecaseList.resultList}"/>

    <rich:dataTable id="usecaseList"
                var="usecase"
              value="#{usecaseList.resultList}"
           rendered="#{not empty usecaseList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="id #{usecaseList.order=='id asc' ? messages.down : ( usecaseList.order=='id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{usecaseList.order=='id asc' ? 'id desc' : 'id asc'}"/>
                </s:link>
            </f:facet>
            #{usecase.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="module id #{usecaseList.order=='module.id asc' ? messages.down : ( usecaseList.order=='module.id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{usecaseList.order=='module.id asc' ? 'module.id desc' : 'module.id asc'}"/>
                </s:link>
            </f:facet>
            #{usecase.module.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="name #{usecaseList.order=='name asc' ? messages.down : ( usecaseList.order=='name desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{usecaseList.order=='name asc' ? 'name desc' : 'name asc'}"/>
                </s:link>
            </f:facet>
            #{usecase.name}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="display #{usecaseList.order=='display asc' ? messages.down : ( usecaseList.order=='display desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{usecaseList.order=='display asc' ? 'display desc' : 'display asc'}"/>
                </s:link>
            </f:facet>
            #{usecase.display}
        </h:column>
        <h:column rendered="#{s:hasRole('usecaseList_select')}">
            <f:facet name="header">action</f:facet>
            <s:link view="/#{empty from ? '/security/usecaseList/Usecase' : from}.xhtml"
                   value="Select"
                      id="usecase">
                <f:param name="usecaseId"
                        value="#{usecase.id}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:button view="/security/usecaseList/UsecaseList.xhtml"
            rendered="#{usecaseList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:button>

        <s:button view="/security/usecaseList/UsecaseList.xhtml"
            rendered="#{usecaseList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{usecaseList.previousFirstResult}"/>
        </s:button>

        <s:button view="/security/usecaseList/UsecaseList.xhtml"
            rendered="#{usecaseList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{usecaseList.nextFirstResult}"/>
        </s:button>

        <s:button view="/security/usecaseList/UsecaseList.xhtml"
            rendered="#{usecaseList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{usecaseList.lastFirstResult}"/>
        </s:button>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/security/usecaseList/UsecaseEdit.xhtml"
                    id="create"
                 value="Create usecase"
                 rendered="#{s:hasRole('usecaseList_create')}">
            <f:param name="usecaseId"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>

