<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">
                       
<ui:define name="body">
    
    <rich:panel>
        <f:facet name="header">Usecase</f:facet>

        <s:decorate id="id" template="/common/layout/display.xhtml">
            <ui:define name="label">id</ui:define>
            #{usecaseHome.instance.id}
        </s:decorate>

        <s:decorate id="name" template="/common/layout/display.xhtml">
            <ui:define name="label">name</ui:define>
            #{usecaseHome.instance.name}
        </s:decorate>

        <s:decorate id="display" template="/common/layout/display.xhtml">
            <ui:define name="label">display</ui:define>
            #{usecaseHome.instance.display}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/security/usecaseList/UsecaseEdit.xhtml" 
                    id="edit" 
                 value="Edit"
                 rendered="#{s:hasRole('usecaseList_update')}"/>

        <s:button view="/#{empty usecaseFrom ? '/security/usecaseList/UsecaseList' : usecaseFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="module">
    <div class="association" id="moduleParent">
        
        <h:outputText value="No module" 
                   rendered="#{usecaseHome.instance.module == null}"/>
        
        <rich:dataTable var="module" 
                   value="#{usecaseHome.instance.module}" 
                rendered="#{usecaseHome.instance.module != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="moduleTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{module.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{module.name}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewmodule" 
                     value="View" 
                      view="/security/moduleList/Module.xhtml">
                    <f:param name="moduleId" 
                           value="#{module.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>

    <rich:tab label="services">
    <div class="association" id="servicesChildren">
        
        <h:outputText value="No services" 
                   rendered="#{empty usecaseHome.services}"/>
        
        <rich:dataTable value="#{usecaseHome.services}" 
                       var="service" 
                  rendered="#{not empty usecaseHome.services}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="servicesTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                <h:outputText value="#{service.id}"/>
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                <h:outputText value="#{service.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">display</f:facet>
                <h:outputText value="#{service.display}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectservice" 
                     value="Select" 
                      view="/security/serviceList/Service.xhtml">
                    <f:param name="serviceId" 
                            value="#{service.id}"/>
                    <f:param name="serviceFrom" value="/security/usecaseList/Usecase"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button id="addservice" 
               value="Add service"
                view="/security/serviceList/ServiceEdit.xhtml"
                rendered="#{s:hasRole('serviceList_create')}">
            <f:param name="usecaseId" 
                    value="#{usecaseHome.instance.id}"/>
            <f:param name="serviceFrom" value="/security/usecaseList/Usecase"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="menus">
    <div class="association" id="menusChildren">
        
        <h:outputText value="No menus" 
                   rendered="#{empty usecaseHome.menus}"/>
        
        <rich:dataTable value="#{usecaseHome.menus}" 
                       var="menu" 
                  rendered="#{not empty usecaseHome.menus}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="menusTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                <h:outputText value="#{menu.id}"/>
            </h:column>
            <h:column>
                <f:facet name="header">titulo</f:facet>
                <h:outputText value="#{menu.titulo}"/>
            </h:column>
            <h:column>
                <f:facet name="header">icon</f:facet>
                <h:outputText value="#{menu.icon}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <h:outputText value="#{menu.action}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectmenu" 
                     value="Select" 
                      view="/security/menuList/Menu.xhtml">
                    <f:param name="menuId" 
                            value="#{menu.id}"/>
                    <f:param name="menuFrom" value="/security/usecaseList/Usecase"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button id="addmenu" 
               value="Add menu"
                view="/security/menuList/MenuEdit.xhtml"
                rendered="#{s:hasRole('menuList_create')}">
            <f:param name="usecaseId" 
                    value="#{usecaseHome.instance.id}"/>
            <f:param name="menuFrom" value="/security/usecaseList/Usecase"/>
        </s:button>
    </div>        
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
