<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="https://ajax4jsf.dev.java.net/ajax"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">


    <h:form id="usecase" styleClass="edit">

        <rich:panel>
            <f:facet name="header">Edit Usecase</f:facet>

            <!-- 5S: COMMENTED BECAUSE THE ID IS GENERATED
            <s:decorate id="idDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">id</ui:define>
                <h:inputText id="id"
                       required="true"
                       disabled="#{usecaseHome.managed}"
                          value="#{usecaseHome.instance.id}">
                    <a:support event="onblur" reRender="idDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
            -->

            <s:decorate id="nameDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">name</ui:define>
                <h:inputText id="name"
                       required="true"
                           size="30"
                      maxlength="30"
                          value="#{usecaseHome.instance.name}">
                    <a:support event="onblur" reRender="nameDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="displayDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">display</ui:define>
                <h:inputText id="display"
                       required="true"
                           size="30"
                      maxlength="30"
                          value="#{usecaseHome.instance.display}">
                    <a:support event="onblur" reRender="displayDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{usecaseHome.persist}"
                       disabled="#{!usecaseHome.wired}"
                       rendered="#{!usecaseHome.managed and s:hasRole('usecaseList_create')}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{usecaseHome.update}"
                       rendered="#{usecaseHome.managed and s:hasRole('usecaseList_update')}"/>

            <!-- 5S: # {usecaseHome.remove} action changed for programming BD activities -->
            <h:commandButton id="delete"
                          value="Delete"
                         action="#{profileGestion.removeUsecase}"
                       rendered="#{usecaseHome.managed and s:hasRole('usecaseList_delete')}"/>

            <s:button id="done"
                   value="Done"
             propagation="end"
                    view="/security/usecaseList/Usecase.xhtml"
                rendered="#{usecaseHome.managed}"/>

            <s:button id="cancel"
                   value="Cancel"
             propagation="end"
                    view="/#{empty usecaseFrom ? '/security/usecaseList/UsecaseList' : usecaseFrom}.xhtml"
                rendered="#{!usecaseHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">

    <rich:tab label="module">
    <div class="association" id="moduleParent">

        <h:outputText value="No module"
                   rendered="#{usecaseHome.instance.module == null}"/>

        <rich:dataTable var="module"
                   value="#{usecaseHome.instance.module}"
                rendered="#{usecaseHome.instance.module != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="moduleTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{module.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{module.name}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/security/moduleList/Module.xhtml"
                         id="viewmodule"
                      value="View"
                propagation="none">
                    <f:param name="moduleId"
                           value="#{module.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select module"
                       view="/security/moduleList/ModuleList.xhtml">
                <f:param name="from" value="/security/usecaseList/UsecaseEdit"/>
            </s:button>
        </div>

    </div>
    </rich:tab>

    <rich:tab label="services">
        <div class="association" id="servicesChildren">

            <h:outputText value="No services"
                       rendered="#{empty usecaseHome.services}"/>

            <rich:dataTable value="#{usecaseHome.services}"
                           var="service"
                      rendered="#{not empty usecaseHome.services}"
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="servicesTable">
                <h:column>
                    <f:facet name="header">id</f:facet>
                    <h:outputText value="#{service.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">name</f:facet>
                    <h:outputText value="#{service.name}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">display</f:facet>
                    <h:outputText value="#{service.display}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/security/serviceList/Service.xhtml"
                              id="selectservice"
                           value="Select"
                     propagation="none">
                        <f:param name="serviceId"
                                value="#{service.id}"/>
                        <f:param name="serviceFrom" value="/security/usecaseList/Usecase"/>
                    </s:link>
                </h:column>
            </rich:dataTable>

        </div>

        <f:subview rendered="#{usecaseHome.managed}" id="services">
        <div class="actionButtons">
            <s:button id="addservice"
                   value="Add service"
                    view="/security/serviceList/ServiceEdit.xhtml"
             propagation="none">
                 <f:param name="usecaseId"
                         value="#{usecaseHome.instance.id}"/>
                 <f:param name="serviceFrom" value="/security/usecaseList/Usecase"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="menus">
        <div class="association" id="menusChildren">

            <h:outputText value="No menus"
                       rendered="#{empty usecaseHome.menus}"/>

            <rich:dataTable value="#{usecaseHome.menus}"
                           var="menu"
                      rendered="#{not empty usecaseHome.menus}"
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="menusTable">
                <h:column>
                    <f:facet name="header">id</f:facet>
                    <h:outputText value="#{menu.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">titulo</f:facet>
                    <h:outputText value="#{menu.titulo}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">icon</f:facet>
                    <h:outputText value="#{menu.icon}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <h:outputText value="#{menu.action}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/security/menuList/Menu.xhtml"
                              id="selectmenu"
                           value="Select"
                     propagation="none">
                        <f:param name="menuId"
                                value="#{menu.id}"/>
                        <f:param name="menuFrom" value="/security/usecaseList/Usecase"/>
                    </s:link>
                </h:column>
            </rich:dataTable>

        </div>

        <f:subview rendered="#{usecaseHome.managed}" id="menus">
        <div class="actionButtons">
            <s:button id="addmenu"
                   value="Add menu"
                    view="/security/menuList/MenuEdit.xhtml"
             propagation="none">
                 <f:param name="usecaseId"
                         value="#{usecaseHome.instance.id}"/>
                 <f:param name="menuFrom" value="/security/usecaseList/Usecase"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
