<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<!-- content -->
<ui:define name="body">

<div class="section">
    <h3>Gestion of users</h3>
</div>

<div class="section">

  <f:subview id="usersTable">
    <div id="scroll">
    <h:form id="listUsers">
      <rich:panel>
         <f:facet name="header">User list</f:facet>
          
      <h:outputText value="No users Found" id="a" rendered="#{users != null and users.rowCount==0}"/>        
      <rich:dataTable id="listUsers" var="usr" value="#{users}"  rendered="#{users.rowCount>0}">

        <h:column>
          <f:facet  name="header">real name</f:facet>
           #{usr.name}
        </h:column>

        <h:column>
          <f:facet  name="header">username</f:facet>
           #{usr.username}
        </h:column>

        <h:column>
          <f:facet name="header">Action</f:facet>
          <s:button id="select" value="select" action="#{userGestion.selectUser}" 
             styleClass="buttonSmall" rendered="#{s:hasRole('userGestion_selectUser')}" />&#160;
          <s:button id="change" value="change  password" action="#{userGestion.changePassword}" 
             styleClass="buttonSmall" rendered="#{s:hasRole('userGestion_changePassword')}"/>&#160;
          <s:button id="delete" value="delete" action="#{userGestion.deleteUser}" 
             styleClass="buttonSmall" rendered="#{s:hasRole('userGestion_deleteUser')}"/>
        </h:column>

      </rich:dataTable>
      <div class="actionButtons">
          <h:commandButton id="new" value="New user" action="#{userGestion.newUser}"  
               styleClass="button" rendered="#{s:hasRole('userGestion_newUser')}"/>
      </div>
      </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>

<a name="theUser"></a>

<rich:spacer/>
<s:div styleClass="section" rendered="#{userGestion.showUser}">
<h:form id="theUser">

    <rich:panel>
         <f:facet name="header">Selected user: </f:facet>

        <h:panelGroup rendered="#{selectedUser.username != null}">
          <div class="entry">
            <div class="label"><b>Username: #{selectedUser.username}</b></div>
          </div>
        </h:panelGroup>

        <f:subview id="validation">
            <h:panelGroup rendered="#{selectedUser.username == null}">
              <s:decorate template="/common/layout/edit.xhtml">
                <ui:define name="label">Username:</ui:define>
                <h:inputText id="theUserName" value="#{selectedUser.username}" required="true" />
              </s:decorate>
            </h:panelGroup>

            <s:decorate template="/common/layout/edit.xhtml">
                <ui:define name="label">Real Name:</ui:define>
                <h:inputText id="name" value="#{selectedUser.name}" required="true" />
            </s:decorate>

            <h:panelGroup rendered="#{userGestion.changePass}">

              <s:decorate template="/common/layout/edit.xhtml">
                <ui:define name="label">Password:</ui:define>
                <h:inputSecret id="password" value="#{userGestion.clearPassword}" required="true" />
              </s:decorate>

              <s:decorate template="/common/layout/edit.xhtml">
                <ui:define name="label">Verify Password:</ui:define>
                <h:inputSecret id="verify" value="#{userGestion.verify}" required="true" />
              </s:decorate>

            </h:panelGroup>
            
            <div style="clear:both">
               <span class="required">*</span>
               required fields
            </div>

          </f:subview>
      </rich:panel>

      <rich:spacer/>

      <rich:panel rendered="#{selectedUser.username != null}">
         <f:facet name="header">Profiles of selected user:</f:facet>
      <h:panelGroup >

        <div class="entry">

          <h:panelGrid columns="5" columnClasses="grid0,grid1,grid2,grid1,grid0" rowClasses="gridRow" width="100%" >

            <h:panelGroup>
              <rich:spacer/>
            </h:panelGroup>
            
            <h:panelGroup>
              <h:outputLabel for="systemProfiles"><b>system profiles:</b></h:outputLabel><br/>
              <h:selectOneListbox id="systemProfiles" value="#{userGestion.systemProfile}" size="10" styleClass="selectOneListbox">
                <f:selectItems value="#{userGestion.systemProfiles}"/>
              </h:selectOneListbox>
            </h:panelGroup>

            <h:panelGroup>
              <h:commandButton id="add" value=" " action="#{userGestion.addProfile}" 
                  image="/common/img/rightArrow.gif"  styleClass="arrow" rendered="#{s:hasRole('userGestion_addProfile')}" />
              <br/>
              <h:commandButton id="delete" value=" " action="#{userGestion.deleteProfile}" 
                  image="/common/img/leftArrow.gif"  styleClass="arrow"  rendered="#{s:hasRole('userGestion_deleteProfile')}"/>
            </h:panelGroup>
       
            <h:panelGroup>
              <h:outputLabel for="userProfiles"><b>user profiles:</b></h:outputLabel><br/>
              <h:selectOneListbox id="userProfiles" value="#{userGestion.userProfile}" size="10" styleClass="selectOneListbox">
                <f:selectItems value="#{userGestion.userProfiles}"/>
              </h:selectOneListbox>
            </h:panelGroup>
            
            <h:panelGroup>
              <rich:spacer/>
            </h:panelGroup>

          </h:panelGrid>

        </div>
      </h:panelGroup>
      </rich:panel>


    <div class="buttonBox2">
      <h:panelGroup>
        <h:commandButton id="update" value="Update" action="#{userGestion.update}"  
           styleClass="button" rendered="#{s:hasRole('userGestion_update')}" />
        &#160;
        <s:button id="cancel" value="Cancel" action="#{userGestion.cancelUpdates}"  
           styleClass="button" rendered="#{s:hasRole('userGestion')}" />
      </h:panelGroup>
    </div>

</h:form>
</s:div>


</ui:define>

</ui:composition>
