<rich:toolBar
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:s="http://jboss.com/products/seam/taglib"
        xmlns:rich="http://richfaces.org/rich">

        <rich:toolBarGroup>
            <h:outputText value="#{projectName}:"/>
            <s:link action="main" value="Main"/>
	</rich:toolBarGroup>

     <rich:toolBarGroup >
         <h:outputText value="Welcome, #{credentials.username}" rendered="#{identity.loggedIn}"/>
         <s:link action="login" value="Login" rendered="#{not identity.loggedIn}"/>
         <s:link action="#{identity.logout}" value="Logout" rendered="#{identity.loggedIn}"/>
     </rich:toolBarGroup>
</rich:toolBar>
