/*
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
a:active, a:link, a:visited {
	color: #0D5798;
}
a:hover {
	color: #8CAFCD;
}

input, textarea {
	border: 1px solid #BBBBBB;
	font-size: 12px;            /* 5S: CONTROL OF LETTER SIZE IN BUTTONS AND EDITION FIELDS
	                                   original 10px  */
	background: #F0F8FF;
	color: black;
}
input[type='submit'], input[type='button'] {
	background: #4477AA;
	color: white;
	margin: 5px;
	border-color: gray;
}

/* 5S: for 2 types of buttons: use the following 2 styleclasses and comment last section
       e indicar para cada boton el styleClass deseado
.button {
        background: #4477AA;
        color: white;
        margin: 5px;
        border-color: gray;
}
.buttonSmall {
        font-size: 12px;
        color: white;
        background: gray;
}
*/

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl {
	text-align: right;
	font-size: 10px;       /* 5S: added for text in links */
}

.footer {
	text-align: center;
	font-size: 10px;      /* 5S: CONTROL OF SIZE OF LETTER OF THE FOOTER, it could also be 12 px */
}

.rich-table {
    width:100%;
}
.mysb .dr-sb-int-sel {
  background-image: url();
}

/* =============== 5S: UPDATES OF STYLES FOR <rich:dropDownMenu>  =====================*/
/* 5S: added for showing the DropDown Menu correctly over other elements */
.rich-ddmenu-label {
       position:relative;
       z-index:2000;
}

/* =============== 5S: UPDATES OF STYLES FOR <rich:panel>  =====================*/
/* 5S: added: control of size of text in header of <rich:panel>  */
.rich-panel-header {
    font-size: 12px;
}
/* 5S: agregado: control of size of inside text of <rich:panel>       */
.rich-panel-body {
    font-size: 12px;
}

/* =========== 5S: PDATES OF STYLES FOR <rich:simpleTogglePanel>  ============*/
/* 5S: agregado: control of size of text in header of <rich:simpleTogglePanel>  */
.rich-stglpanel-header {
    font-size: 12px;
}
/* 5S: agregado: control of size of inside text of  <rich:simpleTogglePanel>  */
.rich-stglpanel-body {
    font-size: 12px;
}

/* =========== 5S: UPDATES OF STYLES FOR <rich:dataTable>  ==================*/
/* 5S: agregado: control of size of titles of <rich:dataTable>  */
.rich-table-subheadercell {
    font-size: 12px;
}
/* 5S: agregado: control of size of data cells of  <rich:dataTable>  */
.rich-table-cell {
    font-size: 12px;
}


/* ========== 5S: UPDATES OF STYLES FOR <rich:tabPanel>   =====================*/
/* 5S: agregado: control of size of inside text of <rich:tabPanel>  */
.rich-tabpanel-content {
    font-size: 12px;
}
/* 5S: agregado: control of size of text in header of <rich:tabPanel>  */
.rich-tab-active {
    font-size: 12px;
}
.rich-tab-inactive {
    font-size: 12px;
}
.rich-tab-disabled {
    font-size: 12px;
}
/* 5S: ----------end for RichFaces------------------------------  */


h1 {
	font-family: Arial,sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}
/* 5S: added for color in titles h3 */
h3 {
        font-family: Arial,sans-serif;
        color: #578BB8;
        margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial,sans-serif;
	color: #616161;
}

.body {
	padding: 30px;
}

.columnHeader:hover
{
    color: #FF6600;
}

/* 5S: MODIFIED FOR LESS SPACE
.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F8FF;
	font-size: 12px;
}
*/
.message {
        border: 1px solid #FFCC00;
        padding: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        background-color: #F0F8FF;
        font-size: 12px;           /* 5S: CONTROL OF SIZE OF LETTER IN JSF MESSAGES */
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
	font-size: 12px;          /* 5S: CONTROL OF SIZE OF LETTER IN LABELS,
                                           original: anyone => by default 10px  */
}
.value {
	float: left;
	padding: 5px;
}
.error {
	margin-left: 20px;
	margin-top: 5px;
	float: left;
	padding: 5px;
	border: 1px solid red;
}

.errors {
	color: red;
}
.errors input {
	border: 1px solid red;
}
.errors textarea {
	border: 1px solid red;
}
.required {
	color: red;
	padding-left: 2px;
}

/* =========== 5S: ADDED FOR EMBEDDED DATATABLES ==================*/
.standardTable {
        width: 100%;                    /* width of external table 1  */
}
.standardTable_Row1 {
        background-color: #F0F0F0;
}

.standardTable_Row2 {
        background-color: #CCECFF;
}

.standardTable_Column {
        text-align: left;
        vertical-align: top;
        width: 30%;                  /* left column of external table 1  */

}

.standardTable_ColumnCentered {
        width: 100%;                 /* right column of external table 1: it is internal table 2  */
}

.nestedColumn1 {
        text-align: left;
        width: 50%;                  /* left column of internal table 2 */
}

.nestedColumn2 {
        width: 100%;                 /* right column of internal table 2:  it is internal table 3 */
}

.moreNestedColumn1 {                 /* left column of internal table 3 */
        text-align: left;
        width: 70%;
}

.moreNestedColumn2 {                 /* right column of internal table 3 */
        text-align: center;
        width: 30%;
}

/* =========== 5S: ADDED FOR grids==================*/
.gridRow {
        border: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        border-top: 0px;
        border-width: 0px;
        border-color: #fff;
        width: 100%;
        text-align: center;
}
.grid0 {
        width: 15%;
}
.grid1 {
        width: 30%;
}
.grid2 {
        width: 10%;
}


/* added for button that are arrow images  */
.arrow {
        border: 0px;
        background-position: center;
        border-style: none;
        background-color: transparent;
}
/* for selects inside entry (added by CF) */
.entry .selectOneListbox {
        width: 200px;
}





/* =========== 5S: FOR CALENDAR seam-date ==================*/

/* date picker style */
div.seam-date
{
  margin-top: 5px;
  border: 1px solid #AAAAAA;
  background-color: #FFFFFF;
  color: #505050;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}


table.seam-date td {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 12px;
}

.seam-date-monthNames
{
  width: 70px;
  border: 1px solid #dddddd;
  border-right: 3px solid #444444;
  border-bottom: 3px solid #444444;
  background-color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a.seam-date-monthNameLink, a.seam-date-monthNameLink:visited
{
  text-align: center;
  display: block;
  color: #555555;
}

a.seam-date-monthNameLink:hover
{
  background-color: #CCCCCC;
  color: red;
}

.seam-date-years
{
  height: 10em;
  overflow: auto;
  width: 60px;
  border: 1px solid #dddddd;
  border-right: 3px solid #444444;
  border-bottom: 3px solid #444444;
  background-color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a.seam-date-yearLink, a.seam-date-yearLink:visited
{
  text-align: center;
  display: block;
  color: #555555;
}

a.seam-date-yearLink:hover
{
  background-color: #CCCCCC;
  color: red;
}

tr.seam-date-header
{
  padding: 2px 0px 2px 0px;
  /* 5S: added */
  background-color: blue;
}

td.seam-date-header
{
  padding: 0px 8px 0px 8px;
  text-align: center;
  /* 5S: OLD: color: gray; */
  color: white;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

td.seam-date-header-prevMonth
{
  background-image: url("../img/cal-prev.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 2px 0px 2px;
  width: 17px;
  height: 16px;
  margin-left: 2px;
}

td.seam-date-header-nextMonth
{
  background-image: url("../img/cal-next.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 2px 0px 2px;
  width: 17px;
  height: 16px;
  margin-right: 2px;
}

tr.seam-date-headerDays
{
  color: white;
  font-weight: normal;
}

tr.seam-date-headerDays > td
{
  background-color: #CCCCCC;
  border: 1px solid #AAAAAA;
  color: white;
  text-align: center;
  width: 26px;
}

tr.seam-date-footer
{
  background-color: white;
  color: #505050;
  font-weight: bold;
}

tr.seam-date-footer > td
{
  text-align: center;
}

td.seam-date-inMonth
{
  background-color: white;
  color: black;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ece9d8;
}

td.seam-date-outMonth
{
  background-color: white;
  color: #999999;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ece9d8;
}

td.seam-date-selected
{
  background-color: #CCCCCC;
  border: 1px solid #AAAAAA;
  color: black;
  font-weight: normal;
}

td.seam-date-dayOff-inMonth
{
  background-color: #efefef;
  color: black;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ece9d8;
}

td.seam-date-dayOff-outMonth
{
  background-color: #efefef;
  color: #999999;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ece9d8;
}

td.seam-date-hover
{
  background-color: #CCCCCC;
  border: 1px solid #AAAAAA;
  cursor: pointer;
  color: red;
}