<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<!-- content -->
<ui:define name="body">

<div class="section">
    <h3>Report of Profiles versus Users</h3>
</div>


<div class="section">
<h:form id="theProfile">

  <rich:panel> 
    <f:facet name="header">profiles versus users</f:facet>

    <h:outputText value="No profiles Found" id="a"  rendered="#{empty repProfiles}" />

    <rich:dataTable id="profiles" value="#{repProfiles}" var="profile" rendered="#{not empty repProfiles}"
       styleClass="standardTable"
       columnClasses="standardTable_Column,standardTable_ColumnCentered" >

      <rich:column>
        <f:facet name="header">profile</f:facet>
        <h:outputText value="#{profile.name}"  style="color:blue; font-size: small; font-weight:bold;"/>
      </rich:column>

        
      <rich:column> 
        <f:facet name="header">users</f:facet>  
        <rich:dataTable id="users" value="#{profile.userprofilesList}" var="userprofile"
           styleClass="standardTable_ColumnCentered"
           columnClasses="nestedColumn1,nestedColumn2"
           rowClasses="standardTable_Row1,standardTable_Row2" >

          <rich:column>
            <h:outputText value="#{userprofile.user.username}"
               style="font-size: small; font-weight:bold;"/>
          </rich:column>
          
          <rich:column>
            <h:outputText value="#{userprofile.user.name}"
             style="font-size: small;"/>
          </rich:column>

        </rich:dataTable>
        
      </rich:column>

    </rich:dataTable>
    </rich:panel> 
</h:form>
</div>


</ui:define>

</ui:composition>
