<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">

    <div>
      <h3>Gestion of menus of the system</h3>
    </div>

    <h:form id="menuSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Menu search parameters" switchType="ajax" width="30%">

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">titulo</ui:define>
                <h:inputText id="titulo" value="#{menuList.menu.titulo}"/>
            </s:decorate>

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">icon</ui:define>
                <h:inputText id="icon" value="#{menuList.menu.icon}"/>
            </s:decorate>

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">action</ui:define>
                <h:inputText id="action" value="#{menuList.menu.action}"/>
            </s:decorate>
        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/security/menuList/MenuList.xhtml"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Menu search results</f:facet>
    <div class="results" id="menuList">

    <h:outputText value="No menu exists"
               rendered="#{empty menuList.resultList}"/>

    <rich:dataTable id="menuList"
                var="menu"
              value="#{menuList.resultList}"
           rendered="#{not empty menuList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="id #{menuList.order=='id asc' ? messages.down : ( menuList.order=='id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{menuList.order=='id asc' ? 'id desc' : 'id asc'}"/>
                </s:link>
            </f:facet>
            #{menu.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="module id #{menuList.order=='module.id asc' ? messages.down : ( menuList.order=='module.id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{menuList.order=='module.id asc' ? 'module.id desc' : 'module.id asc'}"/>
                </s:link>
            </f:facet>
            #{menu.module.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="parent id #{menuList.order=='parent.id asc' ? messages.down : ( menuList.order=='parent.id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{menuList.order=='parent.id asc' ? 'parent.id desc' : 'parent.id asc'}"/>
                </s:link>
            </f:facet>
            #{menu.parent.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="usecase id #{menuList.order=='usecase.id asc' ? messages.down : ( menuList.order=='usecase.id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{menuList.order=='usecase.id asc' ? 'usecase.id desc' : 'usecase.id asc'}"/>
                </s:link>
            </f:facet>
            #{menu.usecase.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="titulo #{menuList.order=='titulo asc' ? messages.down : ( menuList.order=='titulo desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{menuList.order=='titulo asc' ? 'titulo desc' : 'titulo asc'}"/>
                </s:link>
            </f:facet>
            #{menu.titulo}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="icon #{menuList.order=='icon asc' ? messages.down : ( menuList.order=='icon desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{menuList.order=='icon asc' ? 'icon desc' : 'icon asc'}"/>
                </s:link>
            </f:facet>
            #{menu.icon}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="action #{menuList.order=='action asc' ? messages.down : ( menuList.order=='action desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{menuList.order=='action asc' ? 'action desc' : 'action asc'}"/>
                </s:link>
            </f:facet>
            #{menu.action}
        </h:column>
        <h:column rendered="#{s:hasRole('menuList_select')}">
            <f:facet name="header">action</f:facet>
            <s:link view="/#{empty from ? '/security/menuList/Menu' : from}.xhtml"
                   value="Select"
                      id="menu">
                <f:param name="menuId"
                        value="#{menu.id}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:button view="/security/menuList/MenuList.xhtml"
            rendered="#{menuList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:button>

        <s:button view="/security/menuList/MenuList.xhtml"
            rendered="#{menuList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{menuList.previousFirstResult}"/>
        </s:button>

        <s:button view="/security/menuList/MenuList.xhtml"
            rendered="#{menuList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{menuList.nextFirstResult}"/>
        </s:button>

        <s:button view="/security/menuList/MenuList.xhtml"
            rendered="#{menuList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{menuList.lastFirstResult}"/>
        </s:button>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/security/menuList/MenuEdit.xhtml"
                    id="create"
                 value="Create menu"
                 rendered="#{s:hasRole('menuList_create')}">
            <f:param name="menuId"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>

