<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">
                       
<ui:define name="body">
    
    
    <rich:panel>
        <f:facet name="header">Menu</f:facet>

        <s:decorate id="id" template="/common/layout/display.xhtml">
            <ui:define name="label">id</ui:define>
            #{menuHome.instance.id}
        </s:decorate>

        <s:decorate id="titulo" template="/common/layout/display.xhtml">
            <ui:define name="label">titulo</ui:define>
            #{menuHome.instance.titulo}
        </s:decorate>

        <s:decorate id="icon" template="/common/layout/display.xhtml">
            <ui:define name="label">icon</ui:define>
            #{menuHome.instance.icon}
        </s:decorate>

        <s:decorate id="action" template="/common/layout/display.xhtml">
            <ui:define name="label">action</ui:define>
            #{menuHome.instance.action}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/security/menuList/MenuEdit.xhtml" 
                    id="edit" 
                 value="Edit"
                 rendered="#{s:hasRole('menuList_update')}"/>

        <s:button view="/#{empty menuFrom ? '/security/menuList/MenuList' : menuFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="module">
    <div class="association" id="moduleParent">
        
        <h:outputText value="No module" 
                   rendered="#{menuHome.instance.module == null}"/>
        
        <rich:dataTable var="module" 
                   value="#{menuHome.instance.module}" 
                rendered="#{menuHome.instance.module != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="moduleTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{module.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{module.name}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewmodule" 
                     value="View" 
                      view="/security/moduleList/Module.xhtml">
                    <f:param name="moduleId" 
                           value="#{module.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>

    <rich:tab label="parent">
    <div class="association" id="parentParent">
        
        <h:outputText value="No parent" 
                   rendered="#{menuHome.instance.parent == null}"/>
        
        <rich:dataTable var="menu" 
                   value="#{menuHome.instance.parent}" 
                rendered="#{menuHome.instance.parent != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="parentTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{menu.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">module id</f:facet>
		    	#{menu.module.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">parent id</f:facet>
		    	#{menu.parent.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">usecase id</f:facet>
		    	#{menu.usecase.id}
            </h:column>
            <h:column>
                <f:facet name="header">titulo</f:facet>
                #{menu.titulo}
            </h:column>
            <h:column>
                <f:facet name="header">icon</f:facet>
                #{menu.icon}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                #{menu.action}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewmenu" 
                     value="View" 
                      view="/security/menuList/Menu.xhtml">
                    <f:param name="menuId" 
                           value="#{menu.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>

    <rich:tab label="usecase">
    <div class="association" id="usecaseParent">
        
        <h:outputText value="No usecase" 
                   rendered="#{menuHome.instance.usecase == null}"/>
        
        <rich:dataTable var="usecase" 
                   value="#{menuHome.instance.usecase}" 
                rendered="#{menuHome.instance.usecase != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="usecaseTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{usecase.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">module id</f:facet>
		    	#{usecase.module.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{usecase.name}
            </h:column>
            <h:column>
                <f:facet name="header">display</f:facet>
                #{usecase.display}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewusecase" 
                     value="View" 
                      view="/security/usecaseList/Usecase.xhtml">
                    <f:param name="usecaseId" 
                           value="#{usecase.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>

    <rich:tab label="submenus">
    <div class="association" id="submenusChildren">
        
        <h:outputText value="No submenus" 
                   rendered="#{empty menuHome.submenus}"/>
        
        <rich:dataTable value="#{menuHome.submenus}" 
                       var="menu" 
                  rendered="#{not empty menuHome.submenus}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="submenusTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                <h:outputText value="#{menu.id}"/>
            </h:column>
            <h:column>
                <f:facet name="header">titulo</f:facet>
                <h:outputText value="#{menu.titulo}"/>
            </h:column>
            <h:column>
                <f:facet name="header">icon</f:facet>
                <h:outputText value="#{menu.icon}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <h:outputText value="#{menu.action}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectmenu" 
                     value="Select" 
                      view="/security/menuList/Menu.xhtml">
                    <f:param name="menuId" 
                            value="#{menu.id}"/>
                    <f:param name="menuFrom" value="/security/menuList/Menu"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button id="addmenu" 
               value="Add menu"
                view="/security/menuList/MenuEdit.xhtml"
                rendered="#{s:hasRole('menuList_create')}">
            <f:param name="menuId" 
                    value="#{menuHome.instance.id}"/>
            <f:param name="menuFrom" value="/security/menuList/Menu"/>
        </s:button>
    </div>        
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
