<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="https://ajax4jsf.dev.java.net/ajax"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">


    <h:form id="menu" styleClass="edit">

        <rich:panel>
            <f:facet name="header">Edit Menu</f:facet>

            <!--  5S: COMMENTED BECAUSE THE ID IS GENERATED
            <s:decorate id="idDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">id</ui:define>
                <h:inputText id="id"
                       required="true"
                       disabled="#{menuHome.managed}"
                          value="#{menuHome.instance.id}">
                    <a:support event="onblur" reRender="idDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
            -->

            <s:decorate id="tituloDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">titulo</ui:define>
                <h:inputText id="titulo"
                           size="30"
                      maxlength="30"
                          value="#{menuHome.instance.titulo}">
                    <a:support event="onblur" reRender="tituloDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="iconDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">icon</ui:define>
                <h:inputText id="icon"
                       required="true"
                           size="20"
                      maxlength="20"
                          value="#{menuHome.instance.icon}">
                    <a:support event="onblur" reRender="iconDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="actionDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">action</ui:define>
                <h:inputText id="action"
                           size="50"
                      maxlength="50"
                          value="#{menuHome.instance.action}">
                    <a:support event="onblur" reRender="actionDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{menuHome.persist}"
                       disabled="#{!menuHome.wired}"
                       rendered="#{!menuHome.managed and s:hasRole('menuList_create')}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{menuHome.update}"
                       rendered="#{menuHome.managed and s:hasRole('menuList_update')}"/>

            <h:commandButton id="delete"
                          value="Delete"
                         action="#{menuHome.remove}"
                       rendered="#{menuHome.managed and s:hasRole('menuList_delete')}"/>

            <s:button id="done"
                   value="Done"
             propagation="end"
                    view="/security/menuList/Menu.xhtml"
                rendered="#{menuHome.managed}"/>

            <s:button id="cancel"
                   value="Cancel"
             propagation="end"
                    view="/#{empty menuFrom ? '/security/menuList/MenuList' : menuFrom}.xhtml"
                rendered="#{!menuHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">

    <rich:tab label="module">
    <div class="association" id="moduleParent">

        <h:outputText value="No module"
                   rendered="#{menuHome.instance.module == null}"/>

        <rich:dataTable var="module"
                   value="#{menuHome.instance.module}"
                rendered="#{menuHome.instance.module != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="moduleTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{module.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{module.name}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/security/moduleList/Module.xhtml"
                         id="viewmodule"
                      value="View"
                propagation="none">
                    <f:param name="moduleId"
                           value="#{module.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select module"
                       view="/security/moduleList/ModuleList.xhtml">
                <f:param name="from" value="/security/menuList/MenuEdit"/>
            </s:button>
        </div>

    </div>
    </rich:tab>

    <rich:tab label="parent">
    <div class="association" id="parentParent">

        <h:outputText value="No parent"
                   rendered="#{menuHome.instance.parent == null}"/>

        <rich:dataTable var="menu"
                   value="#{menuHome.instance.parent}"
                rendered="#{menuHome.instance.parent != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="parentTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{menu.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">module id</f:facet>
		    	#{menu.module.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">parent id</f:facet>
		    	#{menu.parent.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">usecase id</f:facet>
		    	#{menu.usecase.id}
            </h:column>
            <h:column>
                <f:facet name="header">titulo</f:facet>
                #{menu.titulo}
            </h:column>
            <h:column>
                <f:facet name="header">icon</f:facet>
                #{menu.icon}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                #{menu.action}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/security/menuList/Menu.xhtml"
                         id="viewmenu"
                      value="View"
                propagation="none">
                    <f:param name="menuId"
                           value="#{menu.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <!--  5S:  A LIST IS ADDED FOR SHOWING THE PARENT MENU  -->
        <div class="actionButtons">
            <h:form id="parents">
              <fieldset>
                  <h:outputText value="Select parent menu: " />

                  <h:selectOneMenu id="listParentMenus" value="#{menuList.parentMenu}" >
                     <f:selectItems value="#{menuList.listParentMenus}"/>
                  </h:selectOneMenu>

                  <h:commandButton id="selectParent"  styleClass="button"
                        value="select" action="#{menuList.selectParent}" />

              </fieldset>
            </h:form>
        </div>

    </div>
    </rich:tab>

    <rich:tab label="usecase">
    <div class="association" id="usecaseParent">

        <h:outputText value="No usecase"
                   rendered="#{menuHome.instance.usecase == null}"/>

        <rich:dataTable var="usecase"
                   value="#{menuHome.instance.usecase}"
                rendered="#{menuHome.instance.usecase != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="usecaseTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{usecase.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">module id</f:facet>
		    	#{usecase.module.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{usecase.name}
            </h:column>
            <h:column>
                <f:facet name="header">display</f:facet>
                #{usecase.display}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/security/usecaseList/Usecase.xhtml"
                         id="viewusecase"
                      value="View"
                propagation="none">
                    <f:param name="usecaseId"
                           value="#{usecase.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select usecase"
                       view="/security/usecaseList/UsecaseList.xhtml">
                <f:param name="from" value="/security/menuList/MenuEdit"/>
            </s:button>
        </div>

    </div>
    </rich:tab>

    <rich:tab label="submenus">
        <div class="association" id="submenusChildren">

            <h:outputText value="No submenus"
                       rendered="#{empty menuHome.submenus}"/>

            <rich:dataTable value="#{menuHome.submenus}"
                           var="menu"
                      rendered="#{not empty menuHome.submenus}"
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="submenusTable">
                <h:column>
                    <f:facet name="header">id</f:facet>
                    <h:outputText value="#{menu.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">titulo</f:facet>
                    <h:outputText value="#{menu.titulo}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">icon</f:facet>
                    <h:outputText value="#{menu.icon}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <h:outputText value="#{menu.action}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/security/menuList/Menu.xhtml"
                              id="selectmenu"
                           value="Select"
                     propagation="none">
                        <f:param name="menuId"
                                value="#{menu.id}"/>
                        <f:param name="menuFrom" value="/security/menuList/Menu"/>
                    </s:link>
                </h:column>
            </rich:dataTable>

        </div>

        <f:subview rendered="#{menuHome.managed}" id="submenus">
        <div class="actionButtons">
            <s:button id="addmenu"
                   value="Add menu"
                    view="/security/menuList/MenuEdit.xhtml"
             propagation="none">
                 <f:param name="menuId"
                         value="#{menuHome.instance.id}"/>
                 <f:param name="menuFrom" value="/security/menuList/Menu"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
