<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">
                       
<ui:define name="body">
    
    
    <rich:panel>
        <f:facet name="header">Service</f:facet>

        <s:decorate id="id" template="/common/layout/display.xhtml">
            <ui:define name="label">id</ui:define>
            #{serviceHome.instance.id}
        </s:decorate>

        <s:decorate id="name" template="/common/layout/display.xhtml">
            <ui:define name="label">name</ui:define>
            #{serviceHome.instance.name}
        </s:decorate>

        <s:decorate id="display" template="/common/layout/display.xhtml">
            <ui:define name="label">display</ui:define>
            #{serviceHome.instance.display}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/security/serviceList/ServiceEdit.xhtml" 
                    id="edit" 
                 value="Edit"
                 rendered="#{s:hasRole('serviceList_update')}"/>

        <s:button view="/#{empty serviceFrom ? '/security/serviceList/ServiceList' : serviceFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="usecase">
    <div class="association" id="usecaseParent">
        
        <h:outputText value="No usecase" 
                   rendered="#{serviceHome.instance.usecase == null}"/>
        
        <rich:dataTable var="usecase" 
                   value="#{serviceHome.instance.usecase}" 
                rendered="#{serviceHome.instance.usecase != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="usecaseTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{usecase.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">module id</f:facet>
		    	#{usecase.module.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{usecase.name}
            </h:column>
            <h:column>
                <f:facet name="header">display</f:facet>
                #{usecase.display}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewusecase" 
                     value="View" 
                      view="/security/usecaseList/Usecase.xhtml">
                    <f:param name="usecaseId" 
                           value="#{usecase.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
