<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">

    <div>
      <h3>Gestion of services of the usecases</h3>
    </div>

    <h:form id="serviceSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Service search parameters" switchType="ajax" width="30%">

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">name</ui:define>
                <h:inputText id="name" value="#{serviceList.service.name}"/>
            </s:decorate>

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">display</ui:define>
                <h:inputText id="display" value="#{serviceList.service.display}"/>
            </s:decorate>


        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/security/serviceList/ServiceList.xhtml"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Service search results</f:facet>
    <div class="results" id="serviceList">

    <h:outputText value="No service exists"
               rendered="#{empty serviceList.resultList}"/>

    <rich:dataTable id="serviceList"
                var="service"
              value="#{serviceList.resultList}"
           rendered="#{not empty serviceList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="id #{serviceList.order=='id asc' ? messages.down : ( serviceList.order=='id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{serviceList.order=='id asc' ? 'id desc' : 'id asc'}"/>
                </s:link>
            </f:facet>
            #{service.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="usecase id #{serviceList.order=='usecase.id asc' ? messages.down : ( serviceList.order=='usecase.id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{serviceList.order=='usecase.id asc' ? 'usecase.id desc' : 'usecase.id asc'}"/>
                </s:link>
            </f:facet>
            #{service.usecase.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="name #{serviceList.order=='name asc' ? messages.down : ( serviceList.order=='name desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{serviceList.order=='name asc' ? 'name desc' : 'name asc'}"/>
                </s:link>
            </f:facet>
            #{service.name}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="display #{serviceList.order=='display asc' ? messages.down : ( serviceList.order=='display desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{serviceList.order=='display asc' ? 'display desc' : 'display asc'}"/>
                </s:link>
            </f:facet>
            #{service.display}
        </h:column>
        <h:column  rendered="#{s:hasRole('serviceList_select')}">
            <f:facet name="header">action</f:facet>
            <s:link view="/#{empty from ? '/security/serviceList/Service' : from}.xhtml"
                   value="Select"
                      id="service">
                <f:param name="serviceId"
                        value="#{service.id}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:button view="/security/serviceList/ServiceList.xhtml"
            rendered="#{serviceList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:button>

        <s:button view="/security/serviceList/ServiceList.xhtml"
            rendered="#{serviceList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{serviceList.previousFirstResult}"/>
        </s:button>

        <s:button view="/security/serviceList/ServiceList.xhtml"
            rendered="#{serviceList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{serviceList.nextFirstResult}"/>
        </s:button>

        <s:button view="/security/serviceList/ServiceList.xhtml"
            rendered="#{serviceList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{serviceList.lastFirstResult}"/>
        </s:button>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/security/serviceList/ServiceEdit.xhtml"
                    id="create"
                 value="Create service"
                 rendered="#{s:hasRole('serviceList_create')}">
            <f:param name="serviceId"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>

