<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="https://ajax4jsf.dev.java.net/ajax"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">
                       
<ui:define name="body">
    

    <h:form id="service" styleClass="edit">
    
        <rich:panel>
            <f:facet name="header">Edit Service</f:facet>

            <!--  
            <s:decorate id="idDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">id</ui:define>
                <h:inputText id="id"
                       required="true"
                       disabled="#{serviceHome.managed}"
                          value="#{serviceHome.instance.id}">
                    <a:support event="onblur" reRender="idDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
            -->

            <s:decorate id="nameDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">name</ui:define>
                <h:inputText id="name" 
                       required="true"
                           size="50"
                      maxlength="50"
                          value="#{serviceHome.instance.name}">
                    <a:support event="onblur" reRender="nameDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="displayDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">display</ui:define>
                <h:inputText id="display" 
                       required="true"
                           size="30"
                      maxlength="30"
                          value="#{serviceHome.instance.display}">
                    <a:support event="onblur" reRender="displayDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
        
            <div style="clear:both">
                <span class="required">*</span> 
                required fields
            </div>
            
        </rich:panel>
                
        <div class="actionButtons">

            <h:commandButton id="save" 
                          value="Save" 
                         action="#{serviceHome.persist}"
                       disabled="#{!serviceHome.wired}"
                       rendered="#{!serviceHome.managed and s:hasRole('serviceList_create')}"/>  
                          			  
            <h:commandButton id="update" 
                          value="Save" 
                         action="#{serviceHome.update}"
                       rendered="#{serviceHome.managed and s:hasRole('serviceList_update')}"/>
                        			  
            <!-- 5S: # {serviceHome.remove} action changed for programming BD activities -->
            <h:commandButton id="delete" 
                          value="Delete" 
                         action="#{profileGestion.removeService}"
                       rendered="#{serviceHome.managed and s:hasRole('serviceList_delete')}"/>
                    
            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/security/serviceList/Service.xhtml"
                rendered="#{serviceHome.managed}"/>
                
            <s:button id="cancel" 
                   value="Cancel"
             propagation="end"
                    view="/#{empty serviceFrom ? '/security/serviceList/ServiceList' : serviceFrom}.xhtml"
                rendered="#{!serviceHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">
    
    <rich:tab label="usecase">
    <div class="association" id="usecaseParent">
    
        <h:outputText value="No usecase" 
                   rendered="#{serviceHome.instance.usecase == null}"/>
        
        <rich:dataTable var="usecase" 
                   value="#{serviceHome.instance.usecase}" 
                rendered="#{serviceHome.instance.usecase != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="usecaseTable">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{usecase.id}
            </h:column>
            <h:column>
	    	    <f:facet name="header">module id</f:facet>
		    	#{usecase.module.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{usecase.name}
            </h:column>
            <h:column>
                <f:facet name="header">display</f:facet>
                #{usecase.display}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/security/usecaseList/Usecase.xhtml" 
                         id="viewusecase" 
                      value="View" 
                propagation="none">
                    <f:param name="usecaseId" 
                           value="#{usecase.id}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select usecase"
                       view="/security/usecaseList/UsecaseList.xhtml">
                <f:param name="from" value="/security/serviceList/ServiceEdit"/>
            </s:button>
        </div>
        
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
