<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">

    <div>
      <h3>#{messages.GlobalParameters}</h3>
    </div>

    <h:form id="parameterSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Parameter search parameters" switchType="ajax" width="30%">

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">name</ui:define>
                <h:inputText id="name" value="#{parameterList.parameter.name}"/>
            </s:decorate>

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">value</ui:define>
                <h:inputText id="value" value="#{parameterList.parameter.value}"/>
            </s:decorate>

            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">description</ui:define>
                <h:inputText id="description" value="#{parameterList.parameter.description}"/>
            </s:decorate>


        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/security/parameterList/ParameterList.xhtml"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Parameter search results</f:facet>
        <div class="results" id="parameterList">

        <h:outputText value="No parameter exists"
               rendered="#{empty parameterList.resultList}"/>

        <rich:dataTable id="parameterList"
                var="parameter"
              value="#{parameterList.resultList}"
           rendered="#{not empty parameterList.resultList}">
          <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="id #{parameterList.order=='id asc' ? messages.down : ( parameterList.order=='id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{parameterList.order=='id asc' ? 'id desc' : 'id asc'}"/>
                </s:link>
            </f:facet>
            #{parameter.id}
          </h:column>
          <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="name #{parameterList.order=='name asc' ? messages.down : ( parameterList.order=='name desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{parameterList.order=='name asc' ? 'name desc' : 'name asc'}"/>
                </s:link>
            </f:facet>
            #{parameter.name}
          </h:column>
          <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="value #{parameterList.order=='value asc' ? messages.down : ( parameterList.order=='value desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{parameterList.order=='value asc' ? 'value desc' : 'value asc'}"/>
                </s:link>
            </f:facet>
            #{parameter.value}
          </h:column>
          <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="description #{parameterList.order=='description asc' ? messages.down : ( parameterList.order=='description desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{parameterList.order=='description asc' ? 'description desc' : 'description asc'}"/>
                </s:link>
            </f:facet>
            #{parameter.description}
          </h:column>
          <h:column rendered="#{s:hasRole('parameterList_select')}">
            <f:facet name="header">action</f:facet>
            <s:link view="/#{empty from ? '/security/parameterList/Parameter' : from}.xhtml"
                   value="Select"
                      id="parameter">
                <f:param name="parameterId"
                        value="#{parameter.id}"/>
            </s:link>
          </h:column>
      </rich:dataTable>

      </div>
    </rich:panel>

    <div class="tableControl">

        <s:button view="/security/parameterList/ParameterList.xhtml"
            rendered="#{parameterList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:button>

        <s:button view="/security/parameterList/ParameterList.xhtml"
            rendered="#{parameterList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{parameterList.previousFirstResult}"/>
        </s:button>

        <s:button view="/security/parameterList/ParameterList.xhtml"
            rendered="#{parameterList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{parameterList.nextFirstResult}"/>
        </s:button>

        <s:button view="/security/parameterList/ParameterList.xhtml"
            rendered="#{parameterList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{parameterList.lastFirstResult}"/>
        </s:button>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/security/parameterList/ParameterEdit.xhtml"
                    id="create"
                 value="Create parameter"
                 rendered="#{s:hasRole('parameterList_create')}">
            <f:param name="parameterId"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>

