<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">
                       
<ui:define name="body">
    
    <rich:panel>
        <f:facet name="header">Parameter</f:facet>

        <s:decorate id="id" template="/common/layout/display.xhtml">
            <ui:define name="label">id</ui:define>
            #{parameterHome.instance.id}
        </s:decorate>

        <s:decorate id="name" template="/common/layout/display.xhtml">
            <ui:define name="label">name</ui:define>
            #{parameterHome.instance.name}
        </s:decorate>

        <s:decorate id="value" template="/common/layout/display.xhtml">
            <ui:define name="label">value</ui:define>
            #{parameterHome.instance.value}
        </s:decorate>

        <s:decorate id="description" template="/common/layout/display.xhtml">
            <ui:define name="label">description</ui:define>
            #{parameterHome.instance.description}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/security/parameterList/ParameterEdit.xhtml" 
                    id="edit" 
                 value="Edit"
                 rendered="#{s:hasRole('parameterList_update')}"/>

        <s:button view="/#{empty parameterFrom ? '/security/parameterList/ParameterList' : parameterFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

</ui:define>

</ui:composition>
