<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="https://ajax4jsf.dev.java.net/ajax"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">

    <h:form id="parameter" styleClass="edit">

        <rich:panel>
            <f:facet name="header">Edit Parameter</f:facet>

            <!--  5S: COMMENTED BECAUSE THE ID IS GENERATED
            <s:decorate id="idDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">id</ui:define>
                <h:inputText id="id"
                       required="true"
                       disabled="#{parameterHome.managed}"
                          value="#{parameterHome.instance.id}">
                    <a:support event="onblur" reRender="idDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
            -->

            <s:decorate id="nameDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">name</ui:define>
                <h:inputText id="name"
                       required="true"
                           size="20"
                      maxlength="20"
                          value="#{parameterHome.instance.name}">
                    <a:support event="onblur" reRender="nameDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="valueDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">value</ui:define>
                <h:inputText id="value"
                       required="true"
                           size="70"
                      maxlength="70"
                          value="#{parameterHome.instance.value}">
                    <a:support event="onblur" reRender="valueDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="descriptionDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">description</ui:define>
                <h:inputText id="description"
                           size="70"
                      maxlength="70"
                          value="#{parameterHome.instance.description}">
                    <a:support event="onblur" reRender="descriptionDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{parameterHome.persist}"
                       disabled="#{!parameterHome.wired}"
                       rendered="#{!parameterHome.managed and s:hasRole('parameterList_create')}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{parameterHome.update}"
                       rendered="#{parameterHome.managed and s:hasRole('parameterList_update')}"/>

            <h:commandButton id="delete"
                          value="Delete"
                         action="#{parameterHome.remove}"
                       rendered="#{parameterHome.managed and s:hasRole('parameterList_delete')}"/>

            <s:button id="done"
                   value="Done"
             propagation="end"
                    view="/security/parameterList/Parameter.xhtml"
                rendered="#{parameterHome.managed}"/>

            <s:button id="cancel"
                   value="Cancel"
             propagation="end"
                    view="/#{empty parameterFrom ? '/security/parameterList/ParameterList' : parameterFrom}.xhtml"
                rendered="#{!parameterHome.managed}"/>

        </div>
    </h:form>

</ui:define>

</ui:composition>
