<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<!-- content -->
<ui:define name="body">
<div class="section">
   <h3>Gestion of security Profiles</h3>
</div>

<div class="section">

   <rich:panel>
         <f:facet name="header">Profile list</f:facet>
   <h:form id="listProfiles">
      <h:outputText value="No profiles Found" id="a" rendered="#{profiles != null and profiles.rowCount==0}"/>
      <rich:dataTable id="listProfiles" var="prof" value="#{profiles}"  rendered="#{profiles.rowCount>0}">
        <h:column>
          <f:facet  name="header">id</f:facet>
           #{prof.id}
        </h:column>

        <h:column>
          <f:facet  name="header">name</f:facet>
           #{prof.name}
        </h:column>

        <h:column>
          <f:facet name="header">Action</f:facet>
          <s:button id="select" value="select"
             action="#{profileGestion.selectProfile(prof)}" styleClass="buttonSmall"
             rendered="#{s:hasRole('profileGestion_selectProfile')}"/>&#160;
          <s:button id="delete" value="delete"
             action="#{profileGestion.deleteProfile(prof)}" styleClass="buttonSmall"
             rendered="#{s:hasRole('profileGestion_deleteProfile')}"/>
        </h:column>

      </rich:dataTable>
      <div class="actionButtons">
          <h:commandButton id="new" value="New profile" action="#{profileGestion.newProfile}"
               styleClass="button" rendered="#{s:hasRole('profileGestion_newProfile')}"/>
      </div>
   </h:form>
   </rich:panel>
</div>


<s:div styleClass="section" rendered="#{profileGestion.showProfile}">
<h:form id="theProfile">
  
    <rich:panel>
        <f:facet name="header">Selected profile:</f:facet>
        <h:inputText id="profileName" value="#{profile.name}" required="true">
          <s:validate/>
        </h:inputText>
        <br/>
        <span class="errors">
          <h:message for="profileName"/>
        </span>
    </rich:panel>
    
   <br/>
   <div class="actionButtons">
      <h:commandButton id="update" value="Update" action="#{profileGestion.update}"
             styleClass="button" rendered="#{s:hasRole('profileGestion_update')}" />
      <s:button id="cancel" value="Cancel"  action="#{profileGestion.cancelUpdates}"
             styleClass="button" rendered="#{s:hasRole('profileGestion_cancelUpdates')}" />
   </div>
    
    <rich:panel>
      <f:facet name="header">permissions of profile</f:facet>
      
      <rich:dataTable id="modules" value="#{modules}" var="module"  
         styleClass="standardTable"
         columnClasses="standardTable_Column,standardTable_ColumnCentered">

        <h:column>
          <f:facet name="header">module</f:facet>
          <h:outputText value="#{module.name}"
             style="color:green; font-size: large; font-weight:bold;"/>
        </h:column>

        <h:column>
          <f:facet name="header">use case</f:facet>
          <rich:dataTable id="usecases" value="#{module.usecasesList}" var="usecase"
             styleClass="standardTable_ColumnCentered"
             columnClasses="nestedColumn1,nestedColumn2"
             rowClasses="standardTable_Row1,standardTable_Row2">
           
            <h:column>
              <h:outputText value="#{usecase.display}"
                style="font-size: small; font-weight:bold;"/>
            </h:column>

            <h:column>
              <rich:dataTable id="services" value="#{usecase.servicesList}" var="service"
               styleClass="nestedColumn2"
               columnClasses="moreNestedColumn1,moreNestedColumn2">
                 <h:column>
                   <h:outputText value="#{service.displayBis}"   />
                 </h:column>
                 <h:column>
                    <h:selectBooleanCheckbox value="#{service.activeInProfile}"  />
                 </h:column>
              </rich:dataTable>
            </h:column>

          </rich:dataTable>
        </h:column>

    </rich:dataTable>
    </rich:panel>
    
    <div class="actionButtons">
      <h:commandButton id="update2" value="Update" action="#{profileGestion.update}"
         styleClass="button" rendered="#{s:hasRole('profileGestion_update')}" />
      <s:button id="cancel2" value="Cancel" action="#{profileGestion.cancelUpdates}"
         styleClass="button" rendered="#{s:hasRole('profileGestion_cancelUpdates')}" />
    </div>
  
</h:form>
</s:div>


</ui:define>

</ui:composition>
