<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="https://ajax4jsf.dev.java.net/ajax"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">

    <h:form id="module" styleClass="edit">

        <rich:panel>
            <f:facet name="header">Edit Module</f:facet>

            <!--  5S: COMMENTED BECAUSE THE ID IS GENERATED
            <s:decorate id="idDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">id</ui:define>
                <h:inputText id="id"
                       required="true"
                       disabled="#{moduleHome.managed}"
                          value="#{moduleHome.instance.id}">
                    <a:support event="onblur" reRender="idDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
            -->

            <s:decorate id="nameDecoration" template="/common/layout/edit.xhtml">
                <ui:define name="label">name</ui:define>
                <h:inputText id="name"
                       required="true"
                           size="20"
                      maxlength="20"
                          value="#{moduleHome.instance.name}">
                    <a:support event="onblur" reRender="nameDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{moduleHome.persist}"
                       disabled="#{!moduleHome.wired}"
                       rendered="#{!moduleHome.managed and s:hasRole('moduleList_create')}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{moduleHome.update}"
                       rendered="#{moduleHome.managed and s:hasRole('moduleList_update')}"/>

            <h:commandButton id="delete"
                          value="Delete"
                         action="#{moduleHome.remove}"
                       rendered="#{moduleHome.managed and s:hasRole('moduleList_delete')}"/>

            <s:button id="done"
                   value="Done"
             propagation="end"
                    view="/security/moduleList/Module.xhtml"
                rendered="#{moduleHome.managed}"/>

            <s:button id="cancel"
                   value="Cancel"
             propagation="end"
                    view="/#{empty moduleFrom ? '/security/moduleList/ModuleList' : moduleFrom}.xhtml"
                rendered="#{!moduleHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">

    <rich:tab label="usecases">
        <div class="association" id="usecasesChildren">

            <h:outputText value="No usecases"
                       rendered="#{empty moduleHome.usecases}"/>

            <rich:dataTable value="#{moduleHome.usecases}"
                           var="usecase"
                      rendered="#{not empty moduleHome.usecases}"
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="usecasesTable">
                <h:column>
                    <f:facet name="header">id</f:facet>
                    <h:outputText value="#{usecase.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">name</f:facet>
                    <h:outputText value="#{usecase.name}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">display</f:facet>
                    <h:outputText value="#{usecase.display}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/security/usecaseList/Usecase.xhtml"
                              id="selectusecase"
                           value="Select"
                     propagation="none">
                        <f:param name="usecaseId"
                                value="#{usecase.id}"/>
                        <f:param name="usecaseFrom" value="/security/moduleList/Module"/>
                    </s:link>
                </h:column>
            </rich:dataTable>

        </div>

        <f:subview rendered="#{moduleHome.managed}" id="usecases">
        <div class="actionButtons">
            <s:button id="addusecase"
                   value="Add usecase"
                    view="/security/usecaseList/UsecaseEdit.xhtml"
             propagation="none">
                 <f:param name="moduleId"
                         value="#{moduleHome.instance.id}"/>
                 <f:param name="usecaseFrom" value="/security/moduleList/Module"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="menus">
        <div class="association" id="menusChildren">

            <h:outputText value="No menus"
                       rendered="#{empty moduleHome.menus}"/>

            <rich:dataTable value="#{moduleHome.menus}"
                           var="menu"
                      rendered="#{not empty moduleHome.menus}"
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="menusTable">
                <h:column>
                    <f:facet name="header">id</f:facet>
                    <h:outputText value="#{menu.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">titulo</f:facet>
                    <h:outputText value="#{menu.titulo}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">icon</f:facet>
                    <h:outputText value="#{menu.icon}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <h:outputText value="#{menu.action}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/security/menuList/Menu.xhtml"
                              id="selectmenu"
                           value="Select"
                     propagation="none">
                        <f:param name="menuId"
                                value="#{menu.id}"/>
                        <f:param name="menuFrom" value="/security/moduleList/Module"/>
                    </s:link>
                </h:column>
            </rich:dataTable>

        </div>

        <f:subview rendered="#{moduleHome.managed}" id="menus">
        <div class="actionButtons">
            <s:button id="addmenu"
                   value="Add menu"
                    view="/security/menuList/MenuEdit.xhtml"
             propagation="none">
                 <f:param name="moduleId"
                         value="#{moduleHome.instance.id}"/>
                 <f:param name="menuFrom" value="/security/moduleList/Module"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
