<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<ui:define name="body">

    <div>
      <h3>Gestion of modules of the system</h3>
    </div>

    <h:form id="moduleSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Module search parameters" switchType="ajax" width="30%">
            <s:decorate template="/common/layout/display.xhtml">
                <ui:define name="label">name</ui:define>
                <h:inputText id="name" value="#{moduleList.module.name}"/>
            </s:decorate>
        </rich:simpleTogglePanel>


        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/security/moduleList/ModuleList.xhtml"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Module search results</f:facet>
    <div class="results" id="moduleList">

    <h:outputText value="No module exists"
               rendered="#{empty moduleList.resultList}"/>

    <rich:dataTable id="moduleList"
                var="module"
              value="#{moduleList.resultList}"
           rendered="#{not empty moduleList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="id #{moduleList.order=='id asc' ? messages.down : ( moduleList.order=='id desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{moduleList.order=='id asc' ? 'id desc' : 'id asc'}"/>
                </s:link>
            </f:facet>
            #{module.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="name #{moduleList.order=='name asc' ? messages.down : ( moduleList.order=='name desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{moduleList.order=='name asc' ? 'name desc' : 'name asc'}"/>
                </s:link>
            </f:facet>
            #{module.name}
        </h:column>
        <h:column rendered="#{s:hasRole('moduleList_select')}">
            <f:facet name="header">action</f:facet>
            <s:link view="/#{empty from ? '/security/moduleList/Module' : from}.xhtml"
                   value="Select"
                      id="module">
                <f:param name="moduleId"
                        value="#{module.id}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:button view="/security/moduleList/ModuleList.xhtml"
            rendered="#{moduleList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:button>

        <s:button view="/security/moduleList/ModuleList.xhtml"
            rendered="#{moduleList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{moduleList.previousFirstResult}"/>
        </s:button>

        <s:button view="/security/moduleList/ModuleList.xhtml"
            rendered="#{moduleList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{moduleList.nextFirstResult}"/>
        </s:button>

        <s:button view="/security/moduleList/ModuleList.xhtml"
            rendered="#{moduleList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{moduleList.lastFirstResult}"/>
        </s:button>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/security/moduleList/ModuleEdit.xhtml"
                    id="create"
                 value="Create module"
                 rendered="#{s:hasRole('moduleList_create')}">
            <f:param name="moduleId"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>

