<rich:toolBar
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:s="http://jboss.com/products/seam/taglib"
        xmlns:rich="http://richfaces.org/rich">

  
    <rich:toolBarGroup>
            <h:outputText value="Prosofi Usme:"/>
            <s:link action="home" value="Home"/>
            <s:link action="main" value="Main"/>
	</rich:toolBarGroup>
	
	<rich:toolBarGroup binding="#{menusBarGroup}">
    </rich:toolBarGroup>

    <!-- @newMenuItem@ -->
    <rich:toolBarGroup location="right">
         <h:outputText value="Welcome, #{credentials.username}" rendered="#{identity.loggedIn}"/>
         <s:link action="login" value="Login" rendered="#{not identity.loggedIn}"/>
         <s:link action="#{identity.logout}" value="Logout" rendered="#{identity.loggedIn}"/>
     </rich:toolBarGroup>
     
     <rich:dropDownMenu showDelay="250" hideDelay="0" submitMode="none">
        <f:facet name="label">Browse data</f:facet>
     <rich:menuItem>
         <s:link view="/logica/SalubridadViviendaHome.xhtml"
            value="SalubridadVivienda"
            id="SalubridadViviendaHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/ControlPrenatalHome.xhtml"
            value="ControlPrenatal"
            id="ControlPrenatalHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/FamiliaHome.xhtml"
            value="Familia"
            id="FamiliaHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/DatosCrediticiosHome.xhtml"
            value="DatosCrediticios"
            id="DatosCrediticiosHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/EncuestadorHome.xhtml"
            value="Encuestador"
            id="EncuestadorHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/DatosPsicoSocialHome.xhtml"
            value="DatosPsicoSocial"
            id="DatosPsicoSocialHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/ServiciosViviendaHome.xhtml"
            value="ServiciosVivienda"
            id="ServiciosViviendaHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/SaludHome.xhtml"
            value="Salud"
            id="SaludHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/OrganizacionComunitariaHome.xhtml"
            value="OrganizacionComunitaria"
            id="OrganizacionComunitariaHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/EnfermedadHome.xhtml"
            value="Enfermedad"
            id="EnfermedadHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/PercepcionViviendaHome.xhtml"
            value="PercepcionVivienda"
            id="PercepcionViviendaHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/CatastrofeHome.xhtml"
            value="Catastrofe"
            id="CatastrofeHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/NecesidadHome.xhtml"
            value="Necesidad"
            id="NecesidadHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/PersonaHome.xhtml"
            value="Persona"
            id="PersonaHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/GustoPorCapacitacionHome.xhtml"
            value="GustoPorCapacitacion"
            id="GustoPorCapacitacionHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/TiempoDisponibleHome.xhtml"
            value="TiempoDisponible"
            id="TiempoDisponibleHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/ViviendaHome.xhtml"
            value="Vivienda"
            id="ViviendaHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/GastoMensualesHome.xhtml"
            value="GastoMensuales"
            id="GastoMensualesHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/DatosEconomicoHome.xhtml"
            value="DatosEconomico"
            id="DatosEconomicoHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/AlrededoresViviendaHome.xhtml"
            value="AlrededoresVivienda"
            id="AlrededoresViviendaHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
     <rich:menuItem>
         <s:link view="/logica/AnimalHome.xhtml"
            value="Animal"
            id="AnimalHome"
            includePageParams="false"
            propagation="none"/>
     </rich:menuItem>
    </rich:dropDownMenu>
     
     
</rich:toolBar>
