<!--
 * Copyright (c) 2003 - 2009 by CincoSOFT Ltda. (cincosoft@cincosoft.com)
 * Colombia, South America.
 *
 * This code is provided free "AS IS", without a warranty of any kind.
 * ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY
 * IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR
 * NON-INFRINGEMENT, ARE HEREBY EXCLUDED.
 *
 * This software is in process of being published under de GPL License during 2009.
 * Meanwhile, CincoSOFT maintains all the rights over this software.
 *
 */
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/common/layout/template.xhtml">

<!-- content -->
<ui:define name="body">

<div class="section">
    <h3>Report of Users versus Profiles</h3>
</div>

<div class="section">
<h:form id="usersProfiles">

  <rich:panel> 
    <f:facet name="header">users versus profiles</f:facet>

    <h:outputText value="No users Found" id="a"  rendered="#{empty repUsers}" />

    <rich:dataTable id="users"  value="#{repUsers}" var="user" rendered="#{not empty repUsers}"
       styleClass="standardTable"
       columnClasses="standardTable_Column,standardTable_ColumnCentered" >

      <h:column>
        <f:facet name="header">user</f:facet>
        <h:outputText value="#{user.name}" style="color:blue; font-size: small; font-weight:bold;"/>
        <br/>
        <h:outputText value="#{user.username}"
         style="color:blue; font-size: small; font-weight:bold;"/>
      </h:column>

      <h:column>
        <f:facet name="header">profiles</f:facet>
        <rich:dataTable id="profiles" value="#{user.userprofilesList}" var="userprofile"
           styleClass="standardTable_ColumnCentered"
           columnClasses="nestedColumn1,nestedColumn2"
           rowClasses="standardTable_Row1,standardTable_Row2" >

          <h:column>
            <h:outputText value="#{userprofile.profile.name}"
             style="font-size: small; font-weight:bold;"/>
          </h:column>

        </rich:dataTable>
      </h:column>
    </rich:dataTable>
    
    </rich:panel>
  
</h:form>
</div>


</ui:define>

</ui:composition>
