<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>AlrededoresVivienda</h1>
    </div>

<div class="section">
  <f:subview id="AlrededoresViviendaTable">
    <div id="scroll">
    <h:form id="listAlrededoresVivienda">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findAlrededoresVivienda" value="Find AlrededoresVivienda" action="#{AlrededoresViviendaSearch.find}" reRender="alrededoresViviendas"/>
            &#160;
            <h:commandButton id="Create" value="New AlrededoresVivienda" action="#{AlrededoresViviendaInscription.newAlrededoresVivienda}"/>

            <h:outputText id="NoAlrededoresViviendaFoundMessage" value="alrededoresVivienda no encontrado" rendered="#{alrededoresViviendasC != null and alrededoresViviendasC.rowCount==0}"/>
            <rich:dataTable id="alrededoresViviendas" value="#{alrededoresViviendasC}" var="alr" rendered="#{alrededoresViviendasC.rowCount>0}">
             <h:column id="columnTipo">
                  <f:facet id="tipoFacet" name="header">tipo</f:facet>
                  #{alr.tipo}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{alr.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewAlrededoresVivienda" value="Detalles" action="#{AlrededoresViviendaInscription.selectAlrededoresVivienda(alr)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
