<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Animal</h1>
    </div>

<div class="section">
  <f:subview id="AnimalTable">
    <div id="scroll">
    <h:form id="listAnimal">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findAnimal" value="Find Animal" action="#{AnimalSearch.find}" reRender="animals"/>
            &#160;
            <h:commandButton id="Create" value="New Animal" action="#{AnimalInscription.newAnimal}"/>

            <h:outputText id="NoAnimalFoundMessage" value="animal no encontrado" rendered="#{animalsC != null and animalsC.rowCount==0}"/>
            <rich:dataTable id="animals" value="#{animalsC}" var="ani" rendered="#{animalsC.rowCount>0}">
             <h:column id="columnCantidad">
                  <f:facet id="cantidadFacet" name="header">cantidad</f:facet>
                  #{ani.cantidad}
            </h:column>
             <h:column id="columnTipoAnimal">
                  <f:facet id="tipoAnimalFacet" name="header">tipoAnimal</f:facet>
                  #{ani.tipoAnimal}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{ani.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewAnimal" value="Detalles" action="#{AnimalInscription.selectAnimal(ani)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
