<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Catastrofe</h1>
    </div>

<div class="section">
  <f:subview id="CatastrofeTable">
    <div id="scroll">
    <h:form id="listCatastrofe">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findCatastrofe" value="Find Catastrofe" action="#{CatastrofeSearch.find}" reRender="catastrofes"/>
            &#160;
            <h:commandButton id="Create" value="New Catastrofe" action="#{CatastrofeInscription.newCatastrofe}"/>

            <h:outputText id="NoCatastrofeFoundMessage" value="catastrofe no encontrado" rendered="#{catastrofesC != null and catastrofesC.rowCount==0}"/>
            <rich:dataTable id="catastrofes" value="#{catastrofesC}" var="cat" rendered="#{catastrofesC.rowCount>0}">
             <h:column id="columnFechaDelEvento">
                  <f:facet id="fechaDelEventoFacet" name="header">fechaDelEvento</f:facet>
                  #{cat.fechaDelEvento}
            </h:column>
             <h:column id="columnLugar">
                  <f:facet id="lugarFacet" name="header">lugar</f:facet>
                  #{cat.lugar}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{cat.id}
            </h:column>
             <h:column id="columnDescripcion">
                  <f:facet id="descripcionFacet" name="header">descripcion</f:facet>
                  #{cat.descripcion}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewCatastrofe" value="Detalles" action="#{CatastrofeInscription.selectCatastrofe(cat)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
