<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>ControlPrenatal</h1>
    </div>

<div class="section">
  <f:subview id="ControlPrenatalTable">
    <div id="scroll">
    <h:form id="listControlPrenatal">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findControlPrenatal" value="Find ControlPrenatal" action="#{ControlPrenatalSearch.find}" reRender="controlPrenatals"/>
            &#160;
            <h:commandButton id="Create" value="New ControlPrenatal" action="#{ControlPrenatalInscription.newControlPrenatal}"/>

            <h:outputText id="NoControlPrenatalFoundMessage" value="controlPrenatal no encontrado" rendered="#{controlPrenatalsC != null and controlPrenatalsC.rowCount==0}"/>
            <rich:dataTable id="controlPrenatals" value="#{controlPrenatalsC}" var="con" rendered="#{controlPrenatalsC.rowCount>0}">
             <h:column id="columnObservaciones">
                  <f:facet id="observacionesFacet" name="header">observaciones</f:facet>
                  #{con.observaciones}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{con.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewControlPrenatal" value="Detalles" action="#{ControlPrenatalInscription.selectControlPrenatal(con)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
