<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>DatosEconomico</h1>
    </div>

<div class="section">
  <f:subview id="DatosEconomicoTable">
    <div id="scroll">
    <h:form id="listDatosEconomico">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findDatosEconomico" value="Find DatosEconomico" action="#{DatosEconomicoSearch.find}" reRender="datosEconomicos"/>
            &#160;
            <h:commandButton id="Create" value="New DatosEconomico" action="#{DatosEconomicoInscription.newDatosEconomico}"/>

            <h:outputText id="NoDatosEconomicoFoundMessage" value="datosEconomico no encontrado" rendered="#{datosEconomicosC != null and datosEconomicosC.rowCount==0}"/>
            <rich:dataTable id="datosEconomicos" value="#{datosEconomicosC}" var="dat" rendered="#{datosEconomicosC.rowCount>0}">
             <h:column id="columnEntidadDondeAhorra">
                  <f:facet id="entidadDondeAhorraFacet" name="header">entidadDondeAhorra</f:facet>
                  #{dat.entidadDondeAhorra}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{dat.id}
            </h:column>
             <h:column id="columnFunteDeIngreso">
                  <f:facet id="funteDeIngresoFacet" name="header">funteDeIngreso</f:facet>
                  #{dat.funteDeIngreso}
            </h:column>
             <h:column id="columnAportesMensuales">
                  <f:facet id="aportesMensualesFacet" name="header">aportesMensuales</f:facet>
                  #{dat.aportesMensuales}
            </h:column>
             <h:column id="columnDescripcionDeLaFormaDeAhorro">
                  <f:facet id="descripcionDeLaFormaDeAhorroFacet" name="header">descripcionDeLaFormaDeAhorro</f:facet>
                  #{dat.descripcionDeLaFormaDeAhorro}
            </h:column>
             <h:column id="columnIngresosMensuales">
                  <f:facet id="ingresosMensualesFacet" name="header">ingresosMensuales</f:facet>
                  #{dat.ingresosMensuales}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewDatosEconomico" value="Detalles" action="#{DatosEconomicoInscription.selectDatosEconomico(dat)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
