<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>DatosCrediticios</h1>
    </div>

<div class="section">
  <f:subview id="DatosCrediticiosTable">
    <div id="scroll">
    <h:form id="listDatosCrediticios">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findDatosCrediticios" value="Find DatosCrediticios" action="#{DatosCrediticiosSearch.find}" reRender="datosCrediticioss"/>
            &#160;
            <h:commandButton id="Create" value="New DatosCrediticios" action="#{DatosCrediticiosInscription.newDatosCrediticios}"/>

            <h:outputText id="NoDatosCrediticiosFoundMessage" value="datosCrediticios no encontrado" rendered="#{datosCrediticiossC != null and datosCrediticiossC.rowCount==0}"/>
            <rich:dataTable id="datosCrediticioss" value="#{datosCrediticiossC}" var="dat" rendered="#{datosCrediticiossC.rowCount>0}">
             <h:column id="columnMontoDeLaDeuda">
                  <f:facet id="montoDeLaDeudaFacet" name="header">montoDeLaDeuda</f:facet>
                  #{dat.montoDeLaDeuda}
            </h:column>
             <h:column id="columnEntidadDeCredito">
                  <f:facet id="entidadDeCreditoFacet" name="header">entidadDeCredito</f:facet>
                  #{dat.entidadDeCredito}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{dat.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewDatosCrediticios" value="Detalles" action="#{DatosCrediticiosInscription.selectDatosCrediticios(dat)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
