<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
<!-- content -->
<ui:define name="body">
    
<div class ="section">
    <h1> Detalles DatosCrediticios </h1>
</div>

<s:div styleClass="section">
  <h:form id="TheDatosCrediticios">
    <rich:panel>
        <f:facet name="header">Selected DatosCrediticios: </f:facet>

        <h:panelGroup rendered="#{datosCrediticios.id != null}">
          <div class="entry">
            <div class="label"><b>Username: #{datosCrediticios.id}</b></div>
          </div>
        </h:panelGroup>
        
    <f:subview id="validation"> 
        <s:decorate id="DecorateMontoDeLaDeuda" template="layout/display.xhtml">             
        <ui:define name="label">MontoDeLaDeuda:</ui:define>
        #{datosCrediticios.montoDeLaDeuda}
        </s:decorate>
        <s:decorate id="DecoratePersona" template="layout/display.xhtml">             
        <ui:define name="label">Persona:</ui:define>
        #{datosCrediticios.persona.id}
        </s:decorate> 
        <s:decorate id="DecorateEntidadDeCredito" template="layout/display.xhtml">             
        <ui:define name="label">EntidadDeCredito:</ui:define>
        #{datosCrediticios.entidadDeCredito}
        </s:decorate>
        <s:decorate id="DecorateId" template="layout/display.xhtml">             
        <ui:define name="label">Id:</ui:define>
        #{datosCrediticios.id}
        </s:decorate>
      </f:subview>
        
        <s:button id="Edit" value="Editar" view="/DatosCrediticiosEdit.xhtml"/>
              &#160;           
        <h:commandButton id="delete" value="Borrar" action="#{DatosCrediticiosInscription.delete}"/>
              &#160;
        </rich:panel>
    </h:form>
  </div>
<rich:spacer/>



    </ui:define>
</ui:composition>
