<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>DatosPsicoSocial</h1>
    </div>

<div class="section">
  <f:subview id="DatosPsicoSocialTable">
    <div id="scroll">
    <h:form id="listDatosPsicoSocial">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findDatosPsicoSocial" value="Find DatosPsicoSocial" action="#{DatosPsicoSocialSearch.find}" reRender="datosPsicoSocials"/>
            &#160;
            <h:commandButton id="Create" value="New DatosPsicoSocial" action="#{DatosPsicoSocialInscription.newDatosPsicoSocial}"/>

            <h:outputText id="NoDatosPsicoSocialFoundMessage" value="datosPsicoSocial no encontrado" rendered="#{datosPsicoSocialsC != null and datosPsicoSocialsC.rowCount==0}"/>
            <rich:dataTable id="datosPsicoSocials" value="#{datosPsicoSocialsC}" var="dat" rendered="#{datosPsicoSocialsC.rowCount>0}">
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{dat.id}
            </h:column>
             <h:column id="columnSolucionProblemasComunidad">
                  <f:facet id="solucionProblemasComunidadFacet" name="header">solucionProblemasComunidad</f:facet>
                  #{dat.solucionProblemasComunidad}
            </h:column>
             <h:column id="columnSolucionDeProblemas">
                  <f:facet id="solucionDeProblemasFacet" name="header">solucionDeProblemas</f:facet>
                  #{dat.solucionDeProblemas}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewDatosPsicoSocial" value="Detalles" action="#{DatosPsicoSocialInscription.selectDatosPsicoSocial(dat)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
