<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
<!-- content -->
<ui:define name="body">
    
<div class ="section">
    <h1> Detalles DatosPsicoSocial </h1>
</div>

<s:div styleClass="section">
  <h:form id="TheDatosPsicoSocial">
    <rich:panel>
        <f:facet name="header">Selected DatosPsicoSocial: </f:facet>

        <h:panelGroup rendered="#{datosPsicoSocial.id != null}">
          <div class="entry">
            <div class="label"><b>Username: #{datosPsicoSocial.id}</b></div>
          </div>
        </h:panelGroup>
        
    <f:subview id="validation"> 
        <s:decorate id="DecorateId" template="layout/display.xhtml">             
        <ui:define name="label">Id:</ui:define>
        #{datosPsicoSocial.id}
        </s:decorate>
        <s:decorate id="DecorateSolucionProblemasComunidad" template="layout/display.xhtml">             
        <ui:define name="label">SolucionProblemasComunidad:</ui:define>
        #{datosPsicoSocial.solucionProblemasComunidad}
        </s:decorate>
        <s:decorate id="DecorateFamilia" template="layout/display.xhtml">             
        <ui:define name="label">Familia:</ui:define>
        #{datosPsicoSocial.familia.id}
        </s:decorate> 
        <s:decorate id="DecorateSolucionDeProblemas" template="layout/display.xhtml">             
        <ui:define name="label">SolucionDeProblemas:</ui:define>
        #{datosPsicoSocial.solucionDeProblemas}
        </s:decorate>
      </f:subview>
        
        <s:button id="Edit" value="Editar" view="/DatosPsicoSocialEdit.xhtml"/>
              &#160;           
        <h:commandButton id="delete" value="Borrar" action="#{DatosPsicoSocialInscription.delete}"/>
              &#160;
        </rich:panel>
    </h:form>
  </div>
<rich:spacer/>


<div class="sectionnecesidades">
  <f:subview id="necesidadesTable">
    <div id="scroll">
    <h:form id="listnecesidades">
      <rich:panel>
         <f:facet name="header">necesidades list</f:facet>

            <a:commandButton id="findNecesidades" value="View Necesidades" action="#{NecesidadInscription.getNecesidadInDatosPsicoSocialByID}" reRender="necesidadess"/>
            &#160;
              <h:outputText id="NoNecesidadesFoundMessage" value="necesidadess no encontrado" rendered="#{datoPsicoSocialByID != null and datoPsicoSocialByID.rowCount==0}" />
              <rich:dataTable id="necesidadess" value="#{datoPsicoSocialByID}" var="nec" rendered="#{datoPsicoSocialByID.rowCount>0}">           
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{nec.id}
                </h:column>
                <h:column id="columnTipoNecesidad">
                  <f:facet id="TipoNecesidadFacet" name="header"> TipoNecesidad </f:facet>
                    #{nec.tipoNecesidad}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewnecesidades" value="Detalles" action="#{necesidadesInscription.selectnecesidades(nec)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>
<div class="sectionorganizacionesComunitarias">
  <f:subview id="organizacionesComunitariasTable">
    <div id="scroll">
    <h:form id="listorganizacionesComunitarias">
      <rich:panel>
         <f:facet name="header">organizacionesComunitarias list</f:facet>

            <a:commandButton id="findOrganizacionesComunitarias" value="View OrganizacionesComunitarias" action="#{OrganizacionComunitariaInscription.getOrganizacionComunitariaInDatosPsicoSocialByID}" reRender="organizacionesComunitariass"/>
            &#160;
              <h:outputText id="NoOrganizacionesComunitariasFoundMessage" value="organizacionesComunitariass no encontrado" rendered="#{datoPsicoSocialByID != null and datoPsicoSocialByID.rowCount==0}" />
              <rich:dataTable id="organizacionesComunitariass" value="#{datoPsicoSocialByID}" var="org" rendered="#{datoPsicoSocialByID.rowCount>0}">           
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{org.id}
                </h:column>
                <h:column id="columnNombreOrganizacion">
                  <f:facet id="NombreOrganizacionFacet" name="header"> NombreOrganizacion </f:facet>
                    #{org.nombreOrganizacion}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="vieworganizacionesComunitarias" value="Detalles" action="#{organizacionesComunitariasInscription.selectorganizacionesComunitarias(org)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>

    </ui:define>
</ui:composition>
