<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Editar DatosPsicoSocial</h1>
    </div>

    <h:form id="datosPsicoSocial" styleClass="edit">

           <s:decorate id="SolucionProblemasComunidadField" template="layout/edit.xhtml">
                <ui:define name="label">SolucionProblemasComunidad</ui:define>
                <h:inputText id="solucionProblemasComunidad"
                           size="20"
                      maxlength="20"
                          value="#{datosPsicoSocial.solucionProblemasComunidad}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="SolucionDeProblemasField" template="layout/edit.xhtml">
                <ui:define name="label">SolucionDeProblemas</ui:define>
                <h:inputText id="solucionDeProblemas"
                           size="20"
                      maxlength="20"
                          value="#{datosPsicoSocial.solucionDeProblemas}">
                </h:inputText>
            </s:decorate>
    
          <a:commandButton id="getNecesidadess" value="Add Necesidades" action="#{NecesidadSearch.getNecesidadsC}" reRender="searchResultsNecesidades"/>
            &#160;

          <a:outputPanel id="searchResultsNecesidades">
            <div class="section">
              <h:outputText id="NoNecesidadessFoundMessage"
                value="necesidades no encontrado"
                rendered="#{necesidadsC != null and necesidadsC.rowCount==0}" />
              <h:dataTable id="necesidades" value="#{necesidadsC}" var="nec" rendered="#{necesidadsC.rowCount>0}">
    
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{nec.id}
                </h:column>
              
              
                <h:column id="columnTipoNecesidad">
                  <f:facet id="TipoNecesidadFacet" name="header"> TipoNecesidad </f:facet>
                    #{nec.tipoNecesidad}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddNecesidad" value="Agregar" action="#{NecesidadInscription.insertInDatoPsicoSocial(nec) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
          <a:commandButton id="getOrganizacionesComunitariass" value="Add OrganizacionesComunitarias" action="#{OrganizacionComunitariaSearch.getOrganizacionComunitariasC}" reRender="searchResultsOrganizacionesComunitarias"/>
            &#160;

          <a:outputPanel id="searchResultsOrganizacionesComunitarias">
            <div class="section">
              <h:outputText id="NoOrganizacionesComunitariassFoundMessage"
                value="organizacionesComunitarias no encontrado"
                rendered="#{organizacionComunitariasC != null and organizacionComunitariasC.rowCount==0}" />
              <h:dataTable id="organizacionesComunitarias" value="#{organizacionComunitariasC}" var="org" rendered="#{organizacionComunitariasC.rowCount>0}">
    
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{org.id}
                </h:column>
              
                <h:column id="columnNombreOrganizacion">
                  <f:facet id="NombreOrganizacionFacet" name="header"> NombreOrganizacion </f:facet>
                    #{org.nombreOrganizacion}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddOrganizacionComunitaria" value="Agregar" action="#{OrganizacionComunitariaInscription.insertInDatoPsicoSocial(org) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
     


            <div style="clear:both">
                <span class="required">*</span>
                Campo obligatorio
            </div> 


                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{DatosPsicoSocialInscription.editDatosPsicoSocial}"/>
                <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{DatosPsicoSocialInscription.DatosPsicoSocial}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
