<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Editar DatosEconomico</h1>
    </div>

    <h:form id="datosEconomico" styleClass="edit">

           <s:decorate id="EntidadDondeAhorraField" template="layout/edit.xhtml">
                <ui:define name="label">EntidadDondeAhorra</ui:define>
                <h:inputText id="entidadDondeAhorra"
                           size="20"
                      maxlength="20"
                          value="#{datosEconomico.entidadDondeAhorra}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="FunteDeIngresoField" template="layout/edit.xhtml">
                <ui:define name="label">FunteDeIngreso</ui:define>
                <h:inputText id="funteDeIngreso"
                           size="20"
                      maxlength="20"
                          value="#{datosEconomico.funteDeIngreso}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="AportesMensualesField" template="layout/edit.xhtml">
                <ui:define name="label">AportesMensuales</ui:define>
                <h:inputText id="aportesMensuales"
                           size="20"
                      maxlength="20"
                          value="#{datosEconomico.aportesMensuales}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="DescripcionDeLaFormaDeAhorroField" template="layout/edit.xhtml">
                <ui:define name="label">DescripcionDeLaFormaDeAhorro</ui:define>
                <h:inputText id="descripcionDeLaFormaDeAhorro"
                           size="20"
                      maxlength="20"
                          value="#{datosEconomico.descripcionDeLaFormaDeAhorro}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="IngresosMensualesField" template="layout/edit.xhtml">
                <ui:define name="label">IngresosMensuales</ui:define>
                <h:inputText id="ingresosMensuales"
                           size="20"
                      maxlength="20"
                          value="#{datosEconomico.ingresosMensuales}">
                </h:inputText>
            </s:decorate>
    
     


            <div style="clear:both">
                <span class="required">*</span>
                Campo obligatorio
            </div> 


                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{DatosEconomicoInscription.editDatosEconomico}"/>
                <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{DatosEconomicoInscription.DatosEconomico}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
