<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
<!-- content -->
<ui:define name="body">
    
<div class ="section">
    <h1> Detalles Encuestador </h1>
</div>

<s:div styleClass="section">
  <h:form id="TheEncuestador">
    <rich:panel>
        <f:facet name="header">Selected Encuestador: </f:facet>

        <h:panelGroup rendered="#{encuestador.id != null}">
          <div class="entry">
            <div class="label"><b>Username: #{encuestador.id}</b></div>
          </div>
        </h:panelGroup>
        
    <f:subview id="validation"> 
        <s:decorate id="DecorateHoraInicio" template="layout/display.xhtml">             
        <ui:define name="label">HoraInicio:</ui:define>
        #{encuestador.horaInicio}
        </s:decorate>
        <s:decorate id="DecorateFechaEncuesta" template="layout/display.xhtml">             
        <ui:define name="label">FechaEncuesta:</ui:define>
        #{encuestador.fechaEncuesta}
        </s:decorate>
        <s:decorate id="DecorateId" template="layout/display.xhtml">             
        <ui:define name="label">Id:</ui:define>
        #{encuestador.id}
        </s:decorate>
        <s:decorate id="DecorateHoraFin" template="layout/display.xhtml">             
        <ui:define name="label">HoraFin:</ui:define>
        #{encuestador.horaFin}
        </s:decorate>
        <s:decorate id="DecorateNombre" template="layout/display.xhtml">             
        <ui:define name="label">Nombre:</ui:define>
        #{encuestador.nombre}
        </s:decorate>
      </f:subview>
        
        <s:button id="Edit" value="Editar" view="/EncuestadorEdit.xhtml"/>
              &#160;           
        <h:commandButton id="delete" value="Borrar" action="#{EncuestadorInscription.delete}"/>
              &#160;
        </rich:panel>
    </h:form>
  </div>
<rich:spacer/>


<div class="sectionfamilias">
  <f:subview id="familiasTable">
    <div id="scroll">
    <h:form id="listfamilias">
      <rich:panel>
         <f:facet name="header">familias list</f:facet>

            <a:commandButton id="findFamilias" value="View Familias" action="#{FamiliaInscription.getFamiliaInEncuestadorByID}" reRender="familiass"/>
            &#160;
              <h:outputText id="NoFamiliasFoundMessage" value="familiass no encontrado" rendered="#{encuestadorByID != null and encuestadorByID.rowCount==0}" />
              <rich:dataTable id="familiass" value="#{encuestadorByID}" var="fam" rendered="#{encuestadorByID.rowCount>0}">           
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{fam.id}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewfamilias" value="Detalles" action="#{familiasInscription.selectfamilias(fam)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>

    </ui:define>
</ui:composition>
