<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Encuestador</h1>
    </div>

<div class="section">
  <f:subview id="EncuestadorTable">
    <div id="scroll">
    <h:form id="listEncuestador">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findEncuestador" value="Find Encuestador" action="#{EncuestadorSearch.find}" reRender="encuestadors"/>
            &#160;
            <h:commandButton id="Create" value="New Encuestador" action="#{EncuestadorInscription.newEncuestador}"/>

            <h:outputText id="NoEncuestadorFoundMessage" value="encuestador no encontrado" rendered="#{encuestadorsC != null and encuestadorsC.rowCount==0}"/>
            <rich:dataTable id="encuestadors" value="#{encuestadorsC}" var="enc" rendered="#{encuestadorsC.rowCount>0}">
             <h:column id="columnHoraInicio">
                  <f:facet id="horaInicioFacet" name="header">horaInicio</f:facet>
                  #{enc.horaInicio}
            </h:column>
             <h:column id="columnFechaEncuesta">
                  <f:facet id="fechaEncuestaFacet" name="header">fechaEncuesta</f:facet>
                  #{enc.fechaEncuesta}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{enc.id}
            </h:column>
             <h:column id="columnHoraFin">
                  <f:facet id="horaFinFacet" name="header">horaFin</f:facet>
                  #{enc.horaFin}
            </h:column>
             <h:column id="columnNombre">
                  <f:facet id="nombreFacet" name="header">nombre</f:facet>
                  #{enc.nombre}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewEncuestador" value="Detalles" action="#{EncuestadorInscription.selectEncuestador(enc)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
