<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Editar Encuestador</h1>
    </div>

    <h:form id="encuestador" styleClass="edit">

           <s:decorate id="HoraInicioField" template="layout/edit.xhtml">
                <ui:define name="label">HoraInicio</ui:define>
                <h:inputText id="horaInicio"
                           size="20"
                      maxlength="20"
                          value="#{encuestador.horaInicio}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="FechaEncuestaField" template="layout/edit.xhtml">
                <ui:define name="label">FechaEncuesta</ui:define>
                <h:inputText id="fechaEncuesta"
                           size="20"
                      maxlength="20"
                          value="#{encuestador.fechaEncuesta}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="HoraFinField" template="layout/edit.xhtml">
                <ui:define name="label">HoraFin</ui:define>
                <h:inputText id="horaFin"
                           size="20"
                      maxlength="20"
                          value="#{encuestador.horaFin}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="NombreField" template="layout/edit.xhtml">
                <ui:define name="label">Nombre</ui:define>
                <h:inputText id="nombre"
                           size="20"
                      maxlength="20"
                          value="#{encuestador.nombre}">
                </h:inputText>
            </s:decorate>
    
          <a:commandButton id="getFamiliass" value="Add Familias" action="#{FamiliaSearch.getFamiliasC}" reRender="searchResultsFamilias"/>
            &#160;

          <a:outputPanel id="searchResultsFamilias">
            <div class="section">
              <h:outputText id="NoFamiliassFoundMessage"
                value="familias no encontrado"
                rendered="#{familiasC != null and familiasC.rowCount==0}" />
              <h:dataTable id="familias" value="#{familiasC}" var="fam" rendered="#{familiasC.rowCount>0}">
    
              
              
              
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{fam.id}
                </h:column>
              
              
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddFamilia" value="Agregar" action="#{FamiliaInscription.insertInEncuestador(fam) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
     


            <div style="clear:both">
                <span class="required">*</span>
                Campo obligatorio
            </div> 


                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{EncuestadorInscription.editEncuestador}"/>
                <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{EncuestadorInscription.Encuestador}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
