<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Enfermedad</h1>
    </div>

<div class="section">
  <f:subview id="EnfermedadTable">
    <div id="scroll">
    <h:form id="listEnfermedad">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findEnfermedad" value="Find Enfermedad" action="#{EnfermedadSearch.find}" reRender="enfermedads"/>
            &#160;
            <h:commandButton id="Create" value="New Enfermedad" action="#{EnfermedadInscription.newEnfermedad}"/>

            <h:outputText id="NoEnfermedadFoundMessage" value="enfermedad no encontrado" rendered="#{enfermedadsC != null and enfermedadsC.rowCount==0}"/>
            <rich:dataTable id="enfermedads" value="#{enfermedadsC}" var="enf" rendered="#{enfermedadsC.rowCount>0}">
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{enf.id}
            </h:column>
             <h:column id="columnTipo">
                  <f:facet id="tipoFacet" name="header">tipo</f:facet>
                  #{enf.tipo}
            </h:column>
             <h:column id="columnNombreEnfermedad">
                  <f:facet id="nombreEnfermedadFacet" name="header">nombreEnfermedad</f:facet>
                  #{enf.nombreEnfermedad}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewEnfermedad" value="Detalles" action="#{EnfermedadInscription.selectEnfermedad(enf)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
