<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Familia</h1>
    </div>

<div class="section">
  <f:subview id="FamiliaTable">
    <div id="scroll">
    <h:form id="listFamilia">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findFamilia" value="Find Familia" action="#{FamiliaSearch.find}" reRender="familias"/>
            &#160;
            <h:commandButton id="Create" value="New Familia" action="#{FamiliaInscription.newFamilia}"/>

            <h:outputText id="NoFamiliaFoundMessage" value="familia no encontrado" rendered="#{familiasC != null and familiasC.rowCount==0}"/>
            <rich:dataTable id="familias" value="#{familiasC}" var="fam" rendered="#{familiasC.rowCount>0}">
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{fam.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewFamilia" value="Detalles" action="#{FamiliaInscription.selectFamilia(fam)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
