<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
<!-- content -->
<ui:define name="body">
    
<div class ="section">
    <h1> Detalles Familia </h1>
</div>

<s:div styleClass="section">
  <h:form id="TheFamilia">
    <rich:panel>
        <f:facet name="header">Selected Familia: </f:facet>

        <h:panelGroup rendered="#{familia.id != null}">
          <div class="entry">
            <div class="label"><b>Username: #{familia.id}</b></div>
          </div>
        </h:panelGroup>
        
    <f:subview id="validation"> 
        <s:decorate id="DecorateEncuestador" template="layout/display.xhtml">             
        <ui:define name="label">Encuestador:</ui:define>
        #{familia.encuestador.id}
        </s:decorate> 
        <s:decorate id="DecorateDatosPsicoSocial" template="layout/display.xhtml">             
        <ui:define name="label">DatosPsicoSocial:</ui:define>
        #{familia.datosPsicoSocial.id}
        </s:decorate> 
        <s:decorate id="DecorateId" template="layout/display.xhtml">             
        <ui:define name="label">Id:</ui:define>
        #{familia.id}
        </s:decorate>
        <s:decorate id="DecorateVivienda" template="layout/display.xhtml">             
        <ui:define name="label">Vivienda:</ui:define>
        #{familia.vivienda.id}
        </s:decorate> 
      </f:subview>
        
        <s:button id="Edit" value="Editar" view="/FamiliaEdit.xhtml"/>
              &#160;           
        <h:commandButton id="delete" value="Borrar" action="#{FamiliaInscription.delete}"/>
              &#160;
        </rich:panel>
    </h:form>
  </div>
<rich:spacer/>


<div class="sectionanimales">
  <f:subview id="animalesTable">
    <div id="scroll">
    <h:form id="listanimales">
      <rich:panel>
         <f:facet name="header">animales list</f:facet>

            <a:commandButton id="findAnimales" value="View Animales" action="#{AnimalInscription.getAnimalInFamiliaByID}" reRender="animaless"/>
            &#160;
              <h:outputText id="NoAnimalesFoundMessage" value="animaless no encontrado" rendered="#{familiaByID != null and familiaByID.rowCount==0}" />
              <rich:dataTable id="animaless" value="#{familiaByID}" var="ani" rendered="#{familiaByID.rowCount>0}">           
                <h:column id="columnCantidad">
                  <f:facet id="CantidadFacet" name="header"> Cantidad </f:facet>
                    #{ani.cantidad}
                </h:column>
                <h:column id="columnTipoAnimal">
                  <f:facet id="TipoAnimalFacet" name="header"> TipoAnimal </f:facet>
                    #{ani.tipoAnimal}
                </h:column>
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{ani.id}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewanimales" value="Detalles" action="#{animalesInscription.selectanimales(ani)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>
<div class="sectionpersonas">
  <f:subview id="personasTable">
    <div id="scroll">
    <h:form id="listpersonas">
      <rich:panel>
         <f:facet name="header">personas list</f:facet>

            <a:commandButton id="findPersonas" value="View Personas" action="#{PersonaInscription.getPersonaInFamiliaByID}" reRender="personass"/>
            &#160;
              <h:outputText id="NoPersonasFoundMessage" value="personass no encontrado" rendered="#{familiaByID != null and familiaByID.rowCount==0}" />
              <rich:dataTable id="personass" value="#{familiaByID}" var="per" rendered="#{familiaByID.rowCount>0}">           
                <h:column id="columnApellidos">
                  <f:facet id="ApellidosFacet" name="header"> Apellidos </f:facet>
                    #{per.apellidos}
                </h:column>
                <h:column id="columnNombres">
                  <f:facet id="NombresFacet" name="header"> Nombres </f:facet>
                    #{per.nombres}
                </h:column>
                <h:column id="columnNumeroIdentificacion">
                  <f:facet id="NumeroIdentificacionFacet" name="header"> NumeroIdentificacion </f:facet>
                    #{per.numeroIdentificacion}
                </h:column>
                <h:column id="columnHablidades">
                  <f:facet id="HablidadesFacet" name="header"> Hablidades </f:facet>
                    #{per.hablidades}
                </h:column>
                <h:column id="columnNivelEstudios">
                  <f:facet id="NivelEstudiosFacet" name="header"> NivelEstudios </f:facet>
                    #{per.nivelEstudios}
                </h:column>
                <h:column id="columnActividadesTiempoLibre">
                  <f:facet id="ActividadesTiempoLibreFacet" name="header"> ActividadesTiempoLibre </f:facet>
                    #{per.actividadesTiempoLibre}
                </h:column>
                <h:column id="columnAporteCompromisoConProsofi">
                  <f:facet id="AporteCompromisoConProsofiFacet" name="header"> AporteCompromisoConProsofi </f:facet>
                    #{per.aporteCompromisoConProsofi}
                </h:column>
                <h:column id="columnRolEnLaFamilia">
                  <f:facet id="RolEnLaFamiliaFacet" name="header"> RolEnLaFamilia </f:facet>
                    #{per.rolEnLaFamilia}
                </h:column>
                <h:column id="columnLugarRegistroNumeroIdentificacion">
                  <f:facet id="LugarRegistroNumeroIdentificacionFacet" name="header"> LugarRegistroNumeroIdentificacion </f:facet>
                    #{per.lugarRegistroNumeroIdentificacion}
                </h:column>
                <h:column id="columnEstadoCivil">
                  <f:facet id="EstadoCivilFacet" name="header"> EstadoCivil </f:facet>
                    #{per.estadoCivil}
                </h:column>
                <h:column id="columnAniosViviendoEnBarrio">
                  <f:facet id="AniosViviendoEnBarrioFacet" name="header"> AniosViviendoEnBarrio </f:facet>
                    #{per.aniosViviendoEnBarrio}
                </h:column>
                <h:column id="columnFechaDeNacimiento">
                  <f:facet id="FechaDeNacimientoFacet" name="header"> FechaDeNacimiento </f:facet>
                    #{per.fechaDeNacimiento}
                </h:column>
                <h:column id="columnGenero">
                  <f:facet id="GeneroFacet" name="header"> Genero </f:facet>
                    #{per.genero}
                </h:column>
                <h:column id="columnExpectativasProgramaProsofi">
                  <f:facet id="ExpectativasProgramaProsofiFacet" name="header"> ExpectativasProgramaProsofi </f:facet>
                    #{per.expectativasProgramaProsofi}
                </h:column>
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{per.id}
                </h:column>
                <h:column id="columnCondicionesDeVidaEnUnAnio">
                  <f:facet id="CondicionesDeVidaEnUnAnioFacet" name="header"> CondicionesDeVidaEnUnAnio </f:facet>
                    #{per.condicionesDeVidaEnUnAnio}
                </h:column>
                <h:column id="columnAniosViviendoEnDomicilio">
                  <f:facet id="AniosViviendoEnDomicilioFacet" name="header"> AniosViviendoEnDomicilio </f:facet>
                    #{per.aniosViviendoEnDomicilio}
                </h:column>
                <h:column id="columnHabilidadesEducativas">
                  <f:facet id="HabilidadesEducativasFacet" name="header"> HabilidadesEducativas </f:facet>
                    #{per.habilidadesEducativas}
                </h:column>
                <h:column id="columnOcupacion">
                  <f:facet id="OcupacionFacet" name="header"> Ocupacion </f:facet>
                    #{per.ocupacion}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewpersonas" value="Detalles" action="#{personasInscription.selectpersonas(per)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>
<div class="sectiongastosMensuales">
  <f:subview id="gastosMensualesTable">
    <div id="scroll">
    <h:form id="listgastosMensuales">
      <rich:panel>
         <f:facet name="header">gastosMensuales list</f:facet>

            <a:commandButton id="findGastosMensuales" value="View GastosMensuales" action="#{GastoMensualesInscription.getGastoMensualesInFamiliaByID}" reRender="gastosMensualess"/>
            &#160;
              <h:outputText id="NoGastosMensualesFoundMessage" value="gastosMensualess no encontrado" rendered="#{familiaByID != null and familiaByID.rowCount==0}" />
              <rich:dataTable id="gastosMensualess" value="#{familiaByID}" var="gas" rendered="#{familiaByID.rowCount>0}">           
                <h:column id="columnValorGasto">
                  <f:facet id="ValorGastoFacet" name="header"> ValorGasto </f:facet>
                    #{gas.valorGasto}
                </h:column>
                <h:column id="columnGastosPorCategoria">
                  <f:facet id="GastosPorCategoriaFacet" name="header"> GastosPorCategoria </f:facet>
                    #{gas.gastosPorCategoria}
                </h:column>
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{gas.id}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewgastosMensuales" value="Detalles" action="#{gastosMensualesInscription.selectgastosMensuales(gas)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>

    </ui:define>
</ui:composition>
