<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Editar Familia</h1>
    </div>

    <h:form id="familia" styleClass="edit">

    
          <a:commandButton id="getAnimaless" value="Add Animales" action="#{AnimalSearch.getAnimalsC}" reRender="searchResultsAnimales"/>
            &#160;

          <a:outputPanel id="searchResultsAnimales">
            <div class="section">
              <h:outputText id="NoAnimalessFoundMessage"
                value="animales no encontrado"
                rendered="#{animalsC != null and animalsC.rowCount==0}" />
              <h:dataTable id="animales" value="#{animalsC}" var="ani" rendered="#{animalsC.rowCount>0}">
    
                <h:column id="columnCantidad">
                  <f:facet id="CantidadFacet" name="header"> Cantidad </f:facet>
                    #{ani.cantidad}
                </h:column>
              
              
              
                <h:column id="columnTipoAnimal">
                  <f:facet id="TipoAnimalFacet" name="header"> TipoAnimal </f:facet>
                    #{ani.tipoAnimal}
                </h:column>
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{ani.id}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddAnimal" value="Agregar" action="#{AnimalInscription.insertInFamilia(ani) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
          <a:commandButton id="getPersonass" value="Add Personas" action="#{PersonaSearch.getPersonasC}" reRender="searchResultsPersonas"/>
            &#160;

          <a:outputPanel id="searchResultsPersonas">
            <div class="section">
              <h:outputText id="NoPersonassFoundMessage"
                value="personas no encontrado"
                rendered="#{personasC != null and personasC.rowCount==0}" />
              <h:dataTable id="personas" value="#{personasC}" var="per" rendered="#{personasC.rowCount>0}">
    
              
                <h:column id="columnApellidos">
                  <f:facet id="ApellidosFacet" name="header"> Apellidos </f:facet>
                    #{per.apellidos}
                </h:column>
              
                <h:column id="columnNombres">
                  <f:facet id="NombresFacet" name="header"> Nombres </f:facet>
                    #{per.nombres}
                </h:column>
              
                <h:column id="columnNumeroIdentificacion">
                  <f:facet id="NumeroIdentificacionFacet" name="header"> NumeroIdentificacion </f:facet>
                    #{per.numeroIdentificacion}
                </h:column>
              
                <h:column id="columnHablidades">
                  <f:facet id="HablidadesFacet" name="header"> Hablidades </f:facet>
                    #{per.hablidades}
                </h:column>
              
                <h:column id="columnNivelEstudios">
                  <f:facet id="NivelEstudiosFacet" name="header"> NivelEstudios </f:facet>
                    #{per.nivelEstudios}
                </h:column>
              
              
                <h:column id="columnActividadesTiempoLibre">
                  <f:facet id="ActividadesTiempoLibreFacet" name="header"> ActividadesTiempoLibre </f:facet>
                    #{per.actividadesTiempoLibre}
                </h:column>
              
                <h:column id="columnAporteCompromisoConProsofi">
                  <f:facet id="AporteCompromisoConProsofiFacet" name="header"> AporteCompromisoConProsofi </f:facet>
                    #{per.aporteCompromisoConProsofi}
                </h:column>
              
              
                <h:column id="columnRolEnLaFamilia">
                  <f:facet id="RolEnLaFamiliaFacet" name="header"> RolEnLaFamilia </f:facet>
                    #{per.rolEnLaFamilia}
                </h:column>
              
              
              
                <h:column id="columnLugarRegistroNumeroIdentificacion">
                  <f:facet id="LugarRegistroNumeroIdentificacionFacet" name="header"> LugarRegistroNumeroIdentificacion </f:facet>
                    #{per.lugarRegistroNumeroIdentificacion}
                </h:column>
              
                <h:column id="columnEstadoCivil">
                  <f:facet id="EstadoCivilFacet" name="header"> EstadoCivil </f:facet>
                    #{per.estadoCivil}
                </h:column>
              
                <h:column id="columnAniosViviendoEnBarrio">
                  <f:facet id="AniosViviendoEnBarrioFacet" name="header"> AniosViviendoEnBarrio </f:facet>
                    #{per.aniosViviendoEnBarrio}
                </h:column>
              
                <h:column id="columnFechaDeNacimiento">
                  <f:facet id="FechaDeNacimientoFacet" name="header"> FechaDeNacimiento </f:facet>
                    #{per.fechaDeNacimiento}
                </h:column>
              
              
              
                <h:column id="columnGenero">
                  <f:facet id="GeneroFacet" name="header"> Genero </f:facet>
                    #{per.genero}
                </h:column>
              
              
                <h:column id="columnExpectativasProgramaProsofi">
                  <f:facet id="ExpectativasProgramaProsofiFacet" name="header"> ExpectativasProgramaProsofi </f:facet>
                    #{per.expectativasProgramaProsofi}
                </h:column>
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{per.id}
                </h:column>
              
                <h:column id="columnCondicionesDeVidaEnUnAnio">
                  <f:facet id="CondicionesDeVidaEnUnAnioFacet" name="header"> CondicionesDeVidaEnUnAnio </f:facet>
                    #{per.condicionesDeVidaEnUnAnio}
                </h:column>
              
                <h:column id="columnAniosViviendoEnDomicilio">
                  <f:facet id="AniosViviendoEnDomicilioFacet" name="header"> AniosViviendoEnDomicilio </f:facet>
                    #{per.aniosViviendoEnDomicilio}
                </h:column>
              
                <h:column id="columnHabilidadesEducativas">
                  <f:facet id="HabilidadesEducativasFacet" name="header"> HabilidadesEducativas </f:facet>
                    #{per.habilidadesEducativas}
                </h:column>
              
                <h:column id="columnOcupacion">
                  <f:facet id="OcupacionFacet" name="header"> Ocupacion </f:facet>
                    #{per.ocupacion}
                </h:column>
              
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddPersona" value="Agregar" action="#{PersonaInscription.insertInFamilia(per) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
          <a:commandButton id="getGastosMensualess" value="Add GastosMensuales" action="#{GastoMensualesSearch.getGastoMensualessC}" reRender="searchResultsGastosMensuales"/>
            &#160;

          <a:outputPanel id="searchResultsGastosMensuales">
            <div class="section">
              <h:outputText id="NoGastosMensualessFoundMessage"
                value="gastosMensuales no encontrado"
                rendered="#{gastoMensualessC != null and gastoMensualessC.rowCount==0}" />
              <h:dataTable id="gastosMensuales" value="#{gastoMensualessC}" var="gas" rendered="#{gastoMensualessC.rowCount>0}">
    
                <h:column id="columnValorGasto">
                  <f:facet id="ValorGastoFacet" name="header"> ValorGasto </f:facet>
                    #{gas.valorGasto}
                </h:column>
              
                <h:column id="columnGastosPorCategoria">
                  <f:facet id="GastosPorCategoriaFacet" name="header"> GastosPorCategoria </f:facet>
                    #{gas.gastosPorCategoria}
                </h:column>
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{gas.id}
                </h:column>
              
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddGastoMensuales" value="Agregar" action="#{GastoMensualesInscription.insertInFamilia(gas) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
     


            <div style="clear:both">
                <span class="required">*</span>
                Campo obligatorio
            </div> 


                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{FamiliaInscription.editFamilia}"/>
                <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{FamiliaInscription.Familia}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
