<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>GastoMensuales</h1>
    </div>

<div class="section">
  <f:subview id="GastoMensualesTable">
    <div id="scroll">
    <h:form id="listGastoMensuales">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findGastoMensuales" value="Find GastoMensuales" action="#{GastoMensualesSearch.find}" reRender="gastoMensualess"/>
            &#160;
            <h:commandButton id="Create" value="New GastoMensuales" action="#{GastoMensualesInscription.newGastoMensuales}"/>

            <h:outputText id="NoGastoMensualesFoundMessage" value="gastoMensuales no encontrado" rendered="#{gastoMensualessC != null and gastoMensualessC.rowCount==0}"/>
            <rich:dataTable id="gastoMensualess" value="#{gastoMensualessC}" var="gas" rendered="#{gastoMensualessC.rowCount>0}">
             <h:column id="columnValorGasto">
                  <f:facet id="valorGastoFacet" name="header">valorGasto</f:facet>
                  #{gas.valorGasto}
            </h:column>
             <h:column id="columnGastosPorCategoria">
                  <f:facet id="gastosPorCategoriaFacet" name="header">gastosPorCategoria</f:facet>
                  #{gas.gastosPorCategoria}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{gas.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewGastoMensuales" value="Detalles" action="#{GastoMensualesInscription.selectGastoMensuales(gas)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
