<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>GustoPorCapacitacion</h1>
    </div>

<div class="section">
  <f:subview id="GustoPorCapacitacionTable">
    <div id="scroll">
    <h:form id="listGustoPorCapacitacion">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findGustoPorCapacitacion" value="Find GustoPorCapacitacion" action="#{GustoPorCapacitacionSearch.find}" reRender="gustoPorCapacitacions"/>
            &#160;
            <h:commandButton id="Create" value="New GustoPorCapacitacion" action="#{GustoPorCapacitacionInscription.newGustoPorCapacitacion}"/>

            <h:outputText id="NoGustoPorCapacitacionFoundMessage" value="gustoPorCapacitacion no encontrado" rendered="#{gustoPorCapacitacionsC != null and gustoPorCapacitacionsC.rowCount==0}"/>
            <rich:dataTable id="gustoPorCapacitacions" value="#{gustoPorCapacitacionsC}" var="gus" rendered="#{gustoPorCapacitacionsC.rowCount>0}">
             <h:column id="columnTipoGusto">
                  <f:facet id="tipoGustoFacet" name="header">tipoGusto</f:facet>
                  #{gus.tipoGusto}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{gus.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewGustoPorCapacitacion" value="Detalles" action="#{GustoPorCapacitacionInscription.selectGustoPorCapacitacion(gus)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
