<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Necesidad</h1>
    </div>

<div class="section">
  <f:subview id="NecesidadTable">
    <div id="scroll">
    <h:form id="listNecesidad">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findNecesidad" value="Find Necesidad" action="#{NecesidadSearch.find}" reRender="necesidads"/>
            &#160;
            <h:commandButton id="Create" value="New Necesidad" action="#{NecesidadInscription.newNecesidad}"/>

            <h:outputText id="NoNecesidadFoundMessage" value="necesidad no encontrado" rendered="#{necesidadsC != null and necesidadsC.rowCount==0}"/>
            <rich:dataTable id="necesidads" value="#{necesidadsC}" var="nec" rendered="#{necesidadsC.rowCount>0}">
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{nec.id}
            </h:column>
             <h:column id="columnTipoNecesidad">
                  <f:facet id="tipoNecesidadFacet" name="header">tipoNecesidad</f:facet>
                  #{nec.tipoNecesidad}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewNecesidad" value="Detalles" action="#{NecesidadInscription.selectNecesidad(nec)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
