<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>OrganizacionComunitaria</h1>
    </div>

<div class="section">
  <f:subview id="OrganizacionComunitariaTable">
    <div id="scroll">
    <h:form id="listOrganizacionComunitaria">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findOrganizacionComunitaria" value="Find OrganizacionComunitaria" action="#{OrganizacionComunitariaSearch.find}" reRender="organizacionComunitarias"/>
            &#160;
            <h:commandButton id="Create" value="New OrganizacionComunitaria" action="#{OrganizacionComunitariaInscription.newOrganizacionComunitaria}"/>

            <h:outputText id="NoOrganizacionComunitariaFoundMessage" value="organizacionComunitaria no encontrado" rendered="#{organizacionComunitariasC != null and organizacionComunitariasC.rowCount==0}"/>
            <rich:dataTable id="organizacionComunitarias" value="#{organizacionComunitariasC}" var="org" rendered="#{organizacionComunitariasC.rowCount>0}">
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{org.id}
            </h:column>
             <h:column id="columnNombreOrganizacion">
                  <f:facet id="nombreOrganizacionFacet" name="header">nombreOrganizacion</f:facet>
                  #{org.nombreOrganizacion}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewOrganizacionComunitaria" value="Detalles" action="#{OrganizacionComunitariaInscription.selectOrganizacionComunitaria(org)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
