<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Inscripcion OrganizacionComunitaria </h1>
    </div>

    <h:form id="organizacionComunitaria" styleClass="edit">

        <rich:panel>
    
           <s:decorate id="NombreOrganizacionField" template="layout/edit.xhtml">
                <ui:define name="label">NombreOrganizacion</ui:define>
                <h:inputText id="nombreOrganizacion"
                           size="20"
                      maxlength="20"
                          value="#{organizacionComunitaria.nombreOrganizacion}">
                </h:inputText>
            </s:decorate>
     
            <div style="clear:both">
                <span class="required">*</span>
                Campos obligatorios
            </div> 

        </rich:panel>
     
                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{OrganizacionComunitariaInscription.confirm}"/>
                         
                 <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{OrganizacionComunitariaInscription.cancel}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
