<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>PercepcionVivienda</h1>
    </div>

<div class="section">
  <f:subview id="PercepcionViviendaTable">
    <div id="scroll">
    <h:form id="listPercepcionVivienda">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findPercepcionVivienda" value="Find PercepcionVivienda" action="#{PercepcionViviendaSearch.find}" reRender="percepcionViviendas"/>
            &#160;
            <h:commandButton id="Create" value="New PercepcionVivienda" action="#{PercepcionViviendaInscription.newPercepcionVivienda}"/>

            <h:outputText id="NoPercepcionViviendaFoundMessage" value="percepcionVivienda no encontrado" rendered="#{percepcionViviendasC != null and percepcionViviendasC.rowCount==0}"/>
            <rich:dataTable id="percepcionViviendas" value="#{percepcionViviendasC}" var="per" rendered="#{percepcionViviendasC.rowCount>0}">
             <h:column id="columnLoQueNoLeGusta">
                  <f:facet id="loQueNoLeGustaFacet" name="header">loQueNoLeGusta</f:facet>
                  #{per.loQueNoLeGusta}
            </h:column>
             <h:column id="columnLoQueLeGusta">
                  <f:facet id="loQueLeGustaFacet" name="header">loQueLeGusta</f:facet>
                  #{per.loQueLeGusta}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{per.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewPercepcionVivienda" value="Detalles" action="#{PercepcionViviendaInscription.selectPercepcionVivienda(per)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
