<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Editar PercepcionVivienda</h1>
    </div>

    <h:form id="percepcionVivienda" styleClass="edit">

           <s:decorate id="LoQueNoLeGustaField" template="layout/edit.xhtml">
                <ui:define name="label">LoQueNoLeGusta</ui:define>
                <h:inputText id="loQueNoLeGusta"
                           size="20"
                      maxlength="20"
                          value="#{percepcionVivienda.loQueNoLeGusta}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="LoQueLeGustaField" template="layout/edit.xhtml">
                <ui:define name="label">LoQueLeGusta</ui:define>
                <h:inputText id="loQueLeGusta"
                           size="20"
                      maxlength="20"
                          value="#{percepcionVivienda.loQueLeGusta}">
                </h:inputText>
            </s:decorate>
    
     


            <div style="clear:both">
                <span class="required">*</span>
                Campo obligatorio
            </div> 


                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{PercepcionViviendaInscription.editPercepcionVivienda}"/>
                <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{PercepcionViviendaInscription.PercepcionVivienda}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
