<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Inscripcion Persona </h1>
    </div>

    <h:form id="persona" styleClass="edit">

        <rich:panel>
    
           <s:decorate id="ApellidosField" template="layout/edit.xhtml">
                <ui:define name="label">Apellidos</ui:define>
                <h:inputText id="apellidos"
                           size="20"
                      maxlength="20"
                          value="#{persona.apellidos}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="NombresField" template="layout/edit.xhtml">
                <ui:define name="label">Nombres</ui:define>
                <h:inputText id="nombres"
                           size="20"
                      maxlength="20"
                          value="#{persona.nombres}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="NumeroIdentificacionField" template="layout/edit.xhtml">
                <ui:define name="label">NumeroIdentificacion</ui:define>
                <h:inputText id="numeroIdentificacion"
                           size="20"
                      maxlength="20"
                          value="#{persona.numeroIdentificacion}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="HablidadesField" template="layout/edit.xhtml">
                <ui:define name="label">Hablidades</ui:define>
                <h:inputText id="hablidades"
                           size="20"
                      maxlength="20"
                          value="#{persona.hablidades}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="NivelEstudiosField" template="layout/edit.xhtml">
                <ui:define name="label">NivelEstudios</ui:define>
                <h:inputText id="nivelEstudios"
                           size="20"
                      maxlength="20"
                          value="#{persona.nivelEstudios}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="ActividadesTiempoLibreField" template="layout/edit.xhtml">
                <ui:define name="label">ActividadesTiempoLibre</ui:define>
                <h:inputText id="actividadesTiempoLibre"
                           size="20"
                      maxlength="20"
                          value="#{persona.actividadesTiempoLibre}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="AporteCompromisoConProsofiField" template="layout/edit.xhtml">
                <ui:define name="label">AporteCompromisoConProsofi</ui:define>
                <h:inputText id="aporteCompromisoConProsofi"
                           size="20"
                      maxlength="20"
                          value="#{persona.aporteCompromisoConProsofi}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="RolEnLaFamiliaField" template="layout/edit.xhtml">
                <ui:define name="label">RolEnLaFamilia</ui:define>
                <h:inputText id="rolEnLaFamilia"
                           size="20"
                      maxlength="20"
                          value="#{persona.rolEnLaFamilia}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="LugarRegistroNumeroIdentificacionField" template="layout/edit.xhtml">
                <ui:define name="label">LugarRegistroNumeroIdentificacion</ui:define>
                <h:inputText id="lugarRegistroNumeroIdentificacion"
                           size="20"
                      maxlength="20"
                          value="#{persona.lugarRegistroNumeroIdentificacion}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="EstadoCivilField" template="layout/edit.xhtml">
                <ui:define name="label">EstadoCivil</ui:define>
                <h:inputText id="estadoCivil"
                           size="20"
                      maxlength="20"
                          value="#{persona.estadoCivil}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="AniosViviendoEnBarrioField" template="layout/edit.xhtml">
                <ui:define name="label">AniosViviendoEnBarrio</ui:define>
                <h:inputText id="aniosViviendoEnBarrio"
                           size="20"
                      maxlength="20"
                          value="#{persona.aniosViviendoEnBarrio}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="FechaDeNacimientoField" template="layout/edit.xhtml">
                <ui:define name="label">FechaDeNacimiento</ui:define>
                <h:inputText id="fechaDeNacimiento"
                           size="20"
                      maxlength="20"
                          value="#{persona.fechaDeNacimiento}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="GeneroField" template="layout/edit.xhtml">
                <ui:define name="label">Genero</ui:define>
                <h:inputText id="genero"
                           size="20"
                      maxlength="20"
                          value="#{persona.genero}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="ExpectativasProgramaProsofiField" template="layout/edit.xhtml">
                <ui:define name="label">ExpectativasProgramaProsofi</ui:define>
                <h:inputText id="expectativasProgramaProsofi"
                           size="20"
                      maxlength="20"
                          value="#{persona.expectativasProgramaProsofi}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="CondicionesDeVidaEnUnAnioField" template="layout/edit.xhtml">
                <ui:define name="label">CondicionesDeVidaEnUnAnio</ui:define>
                <h:inputText id="condicionesDeVidaEnUnAnio"
                           size="20"
                      maxlength="20"
                          value="#{persona.condicionesDeVidaEnUnAnio}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="AniosViviendoEnDomicilioField" template="layout/edit.xhtml">
                <ui:define name="label">AniosViviendoEnDomicilio</ui:define>
                <h:inputText id="aniosViviendoEnDomicilio"
                           size="20"
                      maxlength="20"
                          value="#{persona.aniosViviendoEnDomicilio}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="HabilidadesEducativasField" template="layout/edit.xhtml">
                <ui:define name="label">HabilidadesEducativas</ui:define>
                <h:inputText id="habilidadesEducativas"
                           size="20"
                      maxlength="20"
                          value="#{persona.habilidadesEducativas}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="OcupacionField" template="layout/edit.xhtml">
                <ui:define name="label">Ocupacion</ui:define>
                <h:inputText id="ocupacion"
                           size="20"
                      maxlength="20"
                          value="#{persona.ocupacion}">
                </h:inputText>
            </s:decorate>
     
            <div style="clear:both">
                <span class="required">*</span>
                Campos obligatorios
            </div> 

        </rich:panel>
     
                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{PersonaInscription.confirm}"/>
                         
                 <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{PersonaInscription.cancel}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
