<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
<!-- content -->
<ui:define name="body">
    
<div class ="section">
    <h1> Detalles Persona </h1>
</div>

<s:div styleClass="section">
  <h:form id="ThePersona">
    <rich:panel>
        <f:facet name="header">Selected Persona: </f:facet>

        <h:panelGroup rendered="#{persona.id != null}">
          <div class="entry">
            <div class="label"><b>Username: #{persona.id}</b></div>
          </div>
        </h:panelGroup>
        
    <f:subview id="validation"> 
        <s:decorate id="DecorateSalud" template="layout/display.xhtml">             
        <ui:define name="label">Salud:</ui:define>
        #{persona.salud.id}
        </s:decorate> 
        <s:decorate id="DecorateApellidos" template="layout/display.xhtml">             
        <ui:define name="label">Apellidos:</ui:define>
        #{persona.apellidos}
        </s:decorate>
        <s:decorate id="DecorateNombres" template="layout/display.xhtml">             
        <ui:define name="label">Nombres:</ui:define>
        #{persona.nombres}
        </s:decorate>
        <s:decorate id="DecorateNumeroIdentificacion" template="layout/display.xhtml">             
        <ui:define name="label">NumeroIdentificacion:</ui:define>
        #{persona.numeroIdentificacion}
        </s:decorate>
        <s:decorate id="DecorateHablidades" template="layout/display.xhtml">             
        <ui:define name="label">Hablidades:</ui:define>
        #{persona.hablidades}
        </s:decorate>
        <s:decorate id="DecorateNivelEstudios" template="layout/display.xhtml">             
        <ui:define name="label">NivelEstudios:</ui:define>
        #{persona.nivelEstudios}
        </s:decorate>
        <s:decorate id="DecorateActividadesTiempoLibre" template="layout/display.xhtml">             
        <ui:define name="label">ActividadesTiempoLibre:</ui:define>
        #{persona.actividadesTiempoLibre}
        </s:decorate>
        <s:decorate id="DecorateAporteCompromisoConProsofi" template="layout/display.xhtml">             
        <ui:define name="label">AporteCompromisoConProsofi:</ui:define>
        #{persona.aporteCompromisoConProsofi}
        </s:decorate>
        <s:decorate id="DecorateRolEnLaFamilia" template="layout/display.xhtml">             
        <ui:define name="label">RolEnLaFamilia:</ui:define>
        #{persona.rolEnLaFamilia}
        </s:decorate>
        <s:decorate id="DecorateLugarRegistroNumeroIdentificacion" template="layout/display.xhtml">             
        <ui:define name="label">LugarRegistroNumeroIdentificacion:</ui:define>
        #{persona.lugarRegistroNumeroIdentificacion}
        </s:decorate>
        <s:decorate id="DecorateEstadoCivil" template="layout/display.xhtml">             
        <ui:define name="label">EstadoCivil:</ui:define>
        #{persona.estadoCivil}
        </s:decorate>
        <s:decorate id="DecorateAniosViviendoEnBarrio" template="layout/display.xhtml">             
        <ui:define name="label">AniosViviendoEnBarrio:</ui:define>
        #{persona.aniosViviendoEnBarrio}
        </s:decorate>
        <s:decorate id="DecorateFechaDeNacimiento" template="layout/display.xhtml">             
        <ui:define name="label">FechaDeNacimiento:</ui:define>
        #{persona.fechaDeNacimiento}
        </s:decorate>
        <s:decorate id="DecorateFamilia" template="layout/display.xhtml">             
        <ui:define name="label">Familia:</ui:define>
        #{persona.familia.id}
        </s:decorate> 
        <s:decorate id="DecorateControlPrenatal" template="layout/display.xhtml">             
        <ui:define name="label">ControlPrenatal:</ui:define>
        #{persona.controlPrenatal.id}
        </s:decorate> 
        <s:decorate id="DecorateGenero" template="layout/display.xhtml">             
        <ui:define name="label">Genero:</ui:define>
        #{persona.genero}
        </s:decorate>
        <s:decorate id="DecorateDatosEconomicos" template="layout/display.xhtml">             
        <ui:define name="label">DatosEconomicos:</ui:define>
        #{persona.datosEconomicos.id}
        </s:decorate> 
        <s:decorate id="DecorateExpectativasProgramaProsofi" template="layout/display.xhtml">             
        <ui:define name="label">ExpectativasProgramaProsofi:</ui:define>
        #{persona.expectativasProgramaProsofi}
        </s:decorate>
        <s:decorate id="DecorateId" template="layout/display.xhtml">             
        <ui:define name="label">Id:</ui:define>
        #{persona.id}
        </s:decorate>
        <s:decorate id="DecorateCondicionesDeVidaEnUnAnio" template="layout/display.xhtml">             
        <ui:define name="label">CondicionesDeVidaEnUnAnio:</ui:define>
        #{persona.condicionesDeVidaEnUnAnio}
        </s:decorate>
        <s:decorate id="DecorateAniosViviendoEnDomicilio" template="layout/display.xhtml">             
        <ui:define name="label">AniosViviendoEnDomicilio:</ui:define>
        #{persona.aniosViviendoEnDomicilio}
        </s:decorate>
        <s:decorate id="DecorateHabilidadesEducativas" template="layout/display.xhtml">             
        <ui:define name="label">HabilidadesEducativas:</ui:define>
        #{persona.habilidadesEducativas}
        </s:decorate>
        <s:decorate id="DecorateOcupacion" template="layout/display.xhtml">             
        <ui:define name="label">Ocupacion:</ui:define>
        #{persona.ocupacion}
        </s:decorate>
        <s:decorate id="DecoratePercepcionVivienda" template="layout/display.xhtml">             
        <ui:define name="label">PercepcionVivienda:</ui:define>
        #{persona.percepcionVivienda.id}
        </s:decorate> 
      </f:subview>
        
        <s:button id="Edit" value="Editar" view="/PersonaEdit.xhtml"/>
              &#160;           
        <h:commandButton id="delete" value="Borrar" action="#{PersonaInscription.delete}"/>
              &#160;
        </rich:panel>
    </h:form>
  </div>
<rich:spacer/>


<div class="sectionenfermedades">
  <f:subview id="enfermedadesTable">
    <div id="scroll">
    <h:form id="listenfermedades">
      <rich:panel>
         <f:facet name="header">enfermedades list</f:facet>

            <a:commandButton id="findEnfermedades" value="View Enfermedades" action="#{EnfermedadInscription.getEnfermedadInPersonaByID}" reRender="enfermedadess"/>
            &#160;
              <h:outputText id="NoEnfermedadesFoundMessage" value="enfermedadess no encontrado" rendered="#{personaByID != null and personaByID.rowCount==0}" />
              <rich:dataTable id="enfermedadess" value="#{personaByID}" var="enf" rendered="#{personaByID.rowCount>0}">           
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{enf.id}
                </h:column>
                <h:column id="columnTipo">
                  <f:facet id="TipoFacet" name="header"> Tipo </f:facet>
                    #{enf.tipo}
                </h:column>
                <h:column id="columnNombreEnfermedad">
                  <f:facet id="NombreEnfermedadFacet" name="header"> NombreEnfermedad </f:facet>
                    #{enf.nombreEnfermedad}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewenfermedades" value="Detalles" action="#{enfermedadesInscription.selectenfermedades(enf)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>
<div class="sectiondatosCrediticios">
  <f:subview id="datosCrediticiosTable">
    <div id="scroll">
    <h:form id="listdatosCrediticios">
      <rich:panel>
         <f:facet name="header">datosCrediticios list</f:facet>

            <a:commandButton id="findDatosCrediticios" value="View DatosCrediticios" action="#{DatosCrediticiosInscription.getDatosCrediticiosInPersonaByID}" reRender="datosCrediticioss"/>
            &#160;
              <h:outputText id="NoDatosCrediticiosFoundMessage" value="datosCrediticioss no encontrado" rendered="#{personaByID != null and personaByID.rowCount==0}" />
              <rich:dataTable id="datosCrediticioss" value="#{personaByID}" var="dat" rendered="#{personaByID.rowCount>0}">           
                <h:column id="columnMontoDeLaDeuda">
                  <f:facet id="MontoDeLaDeudaFacet" name="header"> MontoDeLaDeuda </f:facet>
                    #{dat.montoDeLaDeuda}
                </h:column>
                <h:column id="columnEntidadDeCredito">
                  <f:facet id="EntidadDeCreditoFacet" name="header"> EntidadDeCredito </f:facet>
                    #{dat.entidadDeCredito}
                </h:column>
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{dat.id}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewdatosCrediticios" value="Detalles" action="#{datosCrediticiosInscription.selectdatosCrediticios(dat)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>
<div class="sectiongustosPorCapacitacion">
  <f:subview id="gustosPorCapacitacionTable">
    <div id="scroll">
    <h:form id="listgustosPorCapacitacion">
      <rich:panel>
         <f:facet name="header">gustosPorCapacitacion list</f:facet>

            <a:commandButton id="findGustosPorCapacitacion" value="View GustosPorCapacitacion" action="#{GustoPorCapacitacionInscription.getGustoPorCapacitacionInPersonaByID}" reRender="gustosPorCapacitacions"/>
            &#160;
              <h:outputText id="NoGustosPorCapacitacionFoundMessage" value="gustosPorCapacitacions no encontrado" rendered="#{personaByID != null and personaByID.rowCount==0}" />
              <rich:dataTable id="gustosPorCapacitacions" value="#{personaByID}" var="gus" rendered="#{personaByID.rowCount>0}">           
                <h:column id="columnTipoGusto">
                  <f:facet id="TipoGustoFacet" name="header"> TipoGusto </f:facet>
                    #{gus.tipoGusto}
                </h:column>
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{gus.id}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewgustosPorCapacitacion" value="Detalles" action="#{gustosPorCapacitacionInscription.selectgustosPorCapacitacion(gus)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>
<div class="sectiontiempoDisponible">
  <f:subview id="tiempoDisponibleTable">
    <div id="scroll">
    <h:form id="listtiempoDisponible">
      <rich:panel>
         <f:facet name="header">tiempoDisponible list</f:facet>

            <a:commandButton id="findTiempoDisponible" value="View TiempoDisponible" action="#{TiempoDisponibleInscription.getTiempoDisponibleInPersonaByID}" reRender="tiempoDisponibles"/>
            &#160;
              <h:outputText id="NoTiempoDisponibleFoundMessage" value="tiempoDisponibles no encontrado" rendered="#{personaByID != null and personaByID.rowCount==0}" />
              <rich:dataTable id="tiempoDisponibles" value="#{personaByID}" var="tie" rendered="#{personaByID.rowCount>0}">           
                <h:column id="columnJornada">
                  <f:facet id="JornadaFacet" name="header"> Jornada </f:facet>
                    #{tie.jornada}
                </h:column>
                <h:column id="columnObservaciones">
                  <f:facet id="ObservacionesFacet" name="header"> Observaciones </f:facet>
                    #{tie.observaciones}
                </h:column>
                <h:column id="columnDia">
                  <f:facet id="DiaFacet" name="header"> Dia </f:facet>
                    #{tie.dia}
                </h:column>
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{tie.id}
                </h:column>
                <h:column id="Action">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                    <s:link id="viewtiempoDisponible" value="Detalles" action="#{tiempoDisponibleInscription.selecttiempoDisponible(tie)}"/> 
                  
                  </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>
<rich:spacer/>

    </ui:define>
</ui:composition>
