<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Persona</h1>
    </div>

<div class="section">
  <f:subview id="PersonaTable">
    <div id="scroll">
    <h:form id="listPersona">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findPersona" value="Find Persona" action="#{PersonaSearch.find}" reRender="personas"/>
            &#160;
            <h:commandButton id="Create" value="New Persona" action="#{PersonaInscription.newPersona}"/>

            <h:outputText id="NoPersonaFoundMessage" value="persona no encontrado" rendered="#{personasC != null and personasC.rowCount==0}"/>
            <rich:dataTable id="personas" value="#{personasC}" var="per" rendered="#{personasC.rowCount>0}">
             <h:column id="columnApellidos">
                  <f:facet id="apellidosFacet" name="header">apellidos</f:facet>
                  #{per.apellidos}
            </h:column>
             <h:column id="columnNombres">
                  <f:facet id="nombresFacet" name="header">nombres</f:facet>
                  #{per.nombres}
            </h:column>
             <h:column id="columnNumeroIdentificacion">
                  <f:facet id="numeroIdentificacionFacet" name="header">numeroIdentificacion</f:facet>
                  #{per.numeroIdentificacion}
            </h:column>
             <h:column id="columnHablidades">
                  <f:facet id="hablidadesFacet" name="header">hablidades</f:facet>
                  #{per.hablidades}
            </h:column>
             <h:column id="columnNivelEstudios">
                  <f:facet id="nivelEstudiosFacet" name="header">nivelEstudios</f:facet>
                  #{per.nivelEstudios}
            </h:column>
             <h:column id="columnActividadesTiempoLibre">
                  <f:facet id="actividadesTiempoLibreFacet" name="header">actividadesTiempoLibre</f:facet>
                  #{per.actividadesTiempoLibre}
            </h:column>
             <h:column id="columnAporteCompromisoConProsofi">
                  <f:facet id="aporteCompromisoConProsofiFacet" name="header">aporteCompromisoConProsofi</f:facet>
                  #{per.aporteCompromisoConProsofi}
            </h:column>
             <h:column id="columnRolEnLaFamilia">
                  <f:facet id="rolEnLaFamiliaFacet" name="header">rolEnLaFamilia</f:facet>
                  #{per.rolEnLaFamilia}
            </h:column>
             <h:column id="columnLugarRegistroNumeroIdentificacion">
                  <f:facet id="lugarRegistroNumeroIdentificacionFacet" name="header">lugarRegistroNumeroIdentificacion</f:facet>
                  #{per.lugarRegistroNumeroIdentificacion}
            </h:column>
             <h:column id="columnEstadoCivil">
                  <f:facet id="estadoCivilFacet" name="header">estadoCivil</f:facet>
                  #{per.estadoCivil}
            </h:column>
             <h:column id="columnAniosViviendoEnBarrio">
                  <f:facet id="aniosViviendoEnBarrioFacet" name="header">aniosViviendoEnBarrio</f:facet>
                  #{per.aniosViviendoEnBarrio}
            </h:column>
             <h:column id="columnFechaDeNacimiento">
                  <f:facet id="fechaDeNacimientoFacet" name="header">fechaDeNacimiento</f:facet>
                  #{per.fechaDeNacimiento}
            </h:column>
             <h:column id="columnGenero">
                  <f:facet id="generoFacet" name="header">genero</f:facet>
                  #{per.genero}
            </h:column>
             <h:column id="columnExpectativasProgramaProsofi">
                  <f:facet id="expectativasProgramaProsofiFacet" name="header">expectativasProgramaProsofi</f:facet>
                  #{per.expectativasProgramaProsofi}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{per.id}
            </h:column>
             <h:column id="columnCondicionesDeVidaEnUnAnio">
                  <f:facet id="condicionesDeVidaEnUnAnioFacet" name="header">condicionesDeVidaEnUnAnio</f:facet>
                  #{per.condicionesDeVidaEnUnAnio}
            </h:column>
             <h:column id="columnAniosViviendoEnDomicilio">
                  <f:facet id="aniosViviendoEnDomicilioFacet" name="header">aniosViviendoEnDomicilio</f:facet>
                  #{per.aniosViviendoEnDomicilio}
            </h:column>
             <h:column id="columnHabilidadesEducativas">
                  <f:facet id="habilidadesEducativasFacet" name="header">habilidadesEducativas</f:facet>
                  #{per.habilidadesEducativas}
            </h:column>
             <h:column id="columnOcupacion">
                  <f:facet id="ocupacionFacet" name="header">ocupacion</f:facet>
                  #{per.ocupacion}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewPersona" value="Detalles" action="#{PersonaInscription.selectPersona(per)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
