<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Editar Persona</h1>
    </div>

    <h:form id="persona" styleClass="edit">

           <s:decorate id="ApellidosField" template="layout/edit.xhtml">
                <ui:define name="label">Apellidos</ui:define>
                <h:inputText id="apellidos"
                           size="20"
                      maxlength="20"
                          value="#{persona.apellidos}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="NombresField" template="layout/edit.xhtml">
                <ui:define name="label">Nombres</ui:define>
                <h:inputText id="nombres"
                           size="20"
                      maxlength="20"
                          value="#{persona.nombres}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="NumeroIdentificacionField" template="layout/edit.xhtml">
                <ui:define name="label">NumeroIdentificacion</ui:define>
                <h:inputText id="numeroIdentificacion"
                           size="20"
                      maxlength="20"
                          value="#{persona.numeroIdentificacion}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="HablidadesField" template="layout/edit.xhtml">
                <ui:define name="label">Hablidades</ui:define>
                <h:inputText id="hablidades"
                           size="20"
                      maxlength="20"
                          value="#{persona.hablidades}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="NivelEstudiosField" template="layout/edit.xhtml">
                <ui:define name="label">NivelEstudios</ui:define>
                <h:inputText id="nivelEstudios"
                           size="20"
                      maxlength="20"
                          value="#{persona.nivelEstudios}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="ActividadesTiempoLibreField" template="layout/edit.xhtml">
                <ui:define name="label">ActividadesTiempoLibre</ui:define>
                <h:inputText id="actividadesTiempoLibre"
                           size="20"
                      maxlength="20"
                          value="#{persona.actividadesTiempoLibre}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="AporteCompromisoConProsofiField" template="layout/edit.xhtml">
                <ui:define name="label">AporteCompromisoConProsofi</ui:define>
                <h:inputText id="aporteCompromisoConProsofi"
                           size="20"
                      maxlength="20"
                          value="#{persona.aporteCompromisoConProsofi}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="RolEnLaFamiliaField" template="layout/edit.xhtml">
                <ui:define name="label">RolEnLaFamilia</ui:define>
                <h:inputText id="rolEnLaFamilia"
                           size="20"
                      maxlength="20"
                          value="#{persona.rolEnLaFamilia}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="LugarRegistroNumeroIdentificacionField" template="layout/edit.xhtml">
                <ui:define name="label">LugarRegistroNumeroIdentificacion</ui:define>
                <h:inputText id="lugarRegistroNumeroIdentificacion"
                           size="20"
                      maxlength="20"
                          value="#{persona.lugarRegistroNumeroIdentificacion}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="EstadoCivilField" template="layout/edit.xhtml">
                <ui:define name="label">EstadoCivil</ui:define>
                <h:inputText id="estadoCivil"
                           size="20"
                      maxlength="20"
                          value="#{persona.estadoCivil}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="AniosViviendoEnBarrioField" template="layout/edit.xhtml">
                <ui:define name="label">AniosViviendoEnBarrio</ui:define>
                <h:inputText id="aniosViviendoEnBarrio"
                           size="20"
                      maxlength="20"
                          value="#{persona.aniosViviendoEnBarrio}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="FechaDeNacimientoField" template="layout/edit.xhtml">
                <ui:define name="label">FechaDeNacimiento</ui:define>
                <h:inputText id="fechaDeNacimiento"
                           size="20"
                      maxlength="20"
                          value="#{persona.fechaDeNacimiento}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="GeneroField" template="layout/edit.xhtml">
                <ui:define name="label">Genero</ui:define>
                <h:inputText id="genero"
                           size="20"
                      maxlength="20"
                          value="#{persona.genero}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="ExpectativasProgramaProsofiField" template="layout/edit.xhtml">
                <ui:define name="label">ExpectativasProgramaProsofi</ui:define>
                <h:inputText id="expectativasProgramaProsofi"
                           size="20"
                      maxlength="20"
                          value="#{persona.expectativasProgramaProsofi}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="CondicionesDeVidaEnUnAnioField" template="layout/edit.xhtml">
                <ui:define name="label">CondicionesDeVidaEnUnAnio</ui:define>
                <h:inputText id="condicionesDeVidaEnUnAnio"
                           size="20"
                      maxlength="20"
                          value="#{persona.condicionesDeVidaEnUnAnio}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="AniosViviendoEnDomicilioField" template="layout/edit.xhtml">
                <ui:define name="label">AniosViviendoEnDomicilio</ui:define>
                <h:inputText id="aniosViviendoEnDomicilio"
                           size="20"
                      maxlength="20"
                          value="#{persona.aniosViviendoEnDomicilio}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="HabilidadesEducativasField" template="layout/edit.xhtml">
                <ui:define name="label">HabilidadesEducativas</ui:define>
                <h:inputText id="habilidadesEducativas"
                           size="20"
                      maxlength="20"
                          value="#{persona.habilidadesEducativas}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="OcupacionField" template="layout/edit.xhtml">
                <ui:define name="label">Ocupacion</ui:define>
                <h:inputText id="ocupacion"
                           size="20"
                      maxlength="20"
                          value="#{persona.ocupacion}">
                </h:inputText>
            </s:decorate>
    
          <a:commandButton id="getEnfermedadess" value="Add Enfermedades" action="#{EnfermedadSearch.getEnfermedadsC}" reRender="searchResultsEnfermedades"/>
            &#160;

          <a:outputPanel id="searchResultsEnfermedades">
            <div class="section">
              <h:outputText id="NoEnfermedadessFoundMessage"
                value="enfermedades no encontrado"
                rendered="#{enfermedadsC != null and enfermedadsC.rowCount==0}" />
              <h:dataTable id="enfermedades" value="#{enfermedadsC}" var="enf" rendered="#{enfermedadsC.rowCount>0}">
    
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{enf.id}
                </h:column>
              
                <h:column id="columnTipo">
                  <f:facet id="TipoFacet" name="header"> Tipo </f:facet>
                    #{enf.tipo}
                </h:column>
              
              
                <h:column id="columnNombreEnfermedad">
                  <f:facet id="NombreEnfermedadFacet" name="header"> NombreEnfermedad </f:facet>
                    #{enf.nombreEnfermedad}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddEnfermedad" value="Agregar" action="#{EnfermedadInscription.insertInPersona(enf) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
          <a:commandButton id="getDatosCrediticioss" value="Add DatosCrediticios" action="#{DatosCrediticiosSearch.getDatosCrediticiossC}" reRender="searchResultsDatosCrediticios"/>
            &#160;

          <a:outputPanel id="searchResultsDatosCrediticios">
            <div class="section">
              <h:outputText id="NoDatosCrediticiossFoundMessage"
                value="datosCrediticios no encontrado"
                rendered="#{datosCrediticiossC != null and datosCrediticiossC.rowCount==0}" />
              <h:dataTable id="datosCrediticios" value="#{datosCrediticiossC}" var="dat" rendered="#{datosCrediticiossC.rowCount>0}">
    
                <h:column id="columnMontoDeLaDeuda">
                  <f:facet id="MontoDeLaDeudaFacet" name="header"> MontoDeLaDeuda </f:facet>
                    #{dat.montoDeLaDeuda}
                </h:column>
              
              
                <h:column id="columnEntidadDeCredito">
                  <f:facet id="EntidadDeCreditoFacet" name="header"> EntidadDeCredito </f:facet>
                    #{dat.entidadDeCredito}
                </h:column>
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{dat.id}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddDatosCrediticios" value="Agregar" action="#{DatosCrediticiosInscription.insertInPersona(dat) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
          <a:commandButton id="getGustosPorCapacitacions" value="Add GustosPorCapacitacion" action="#{GustoPorCapacitacionSearch.getGustoPorCapacitacionsC}" reRender="searchResultsGustosPorCapacitacion"/>
            &#160;

          <a:outputPanel id="searchResultsGustosPorCapacitacion">
            <div class="section">
              <h:outputText id="NoGustosPorCapacitacionsFoundMessage"
                value="gustosPorCapacitacion no encontrado"
                rendered="#{gustoPorCapacitacionsC != null and gustoPorCapacitacionsC.rowCount==0}" />
              <h:dataTable id="gustosPorCapacitacion" value="#{gustoPorCapacitacionsC}" var="gus" rendered="#{gustoPorCapacitacionsC.rowCount>0}">
    
                <h:column id="columnTipoGusto">
                  <f:facet id="TipoGustoFacet" name="header"> TipoGusto </f:facet>
                    #{gus.tipoGusto}
                </h:column>
              
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{gus.id}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddGustoPorCapacitacion" value="Agregar" action="#{GustoPorCapacitacionInscription.insertInPersona(gus) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
          <a:commandButton id="getTiempoDisponibles" value="Add TiempoDisponible" action="#{TiempoDisponibleSearch.getTiempoDisponiblesC}" reRender="searchResultsTiempoDisponible"/>
            &#160;

          <a:outputPanel id="searchResultsTiempoDisponible">
            <div class="section">
              <h:outputText id="NoTiempoDisponiblesFoundMessage"
                value="tiempoDisponible no encontrado"
                rendered="#{tiempoDisponiblesC != null and tiempoDisponiblesC.rowCount==0}" />
              <h:dataTable id="tiempoDisponible" value="#{tiempoDisponiblesC}" var="tie" rendered="#{tiempoDisponiblesC.rowCount>0}">
    
                <h:column id="columnJornada">
                  <f:facet id="JornadaFacet" name="header"> Jornada </f:facet>
                    #{tie.jornada}
                </h:column>
              
                <h:column id="columnObservaciones">
                  <f:facet id="ObservacionesFacet" name="header"> Observaciones </f:facet>
                    #{tie.observaciones}
                </h:column>
              
              
                <h:column id="columnDia">
                  <f:facet id="DiaFacet" name="header"> Dia </f:facet>
                    #{tie.dia}
                </h:column>
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{tie.id}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddTiempoDisponible" value="Agregar" action="#{TiempoDisponibleInscription.insertInPersona(tie) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
     


            <div style="clear:both">
                <span class="required">*</span>
                Campo obligatorio
            </div> 


                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{PersonaInscription.editPersona}"/>
                <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{PersonaInscription.Persona}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
