<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>SalubridadVivienda</h1>
    </div>

<div class="section">
  <f:subview id="SalubridadViviendaTable">
    <div id="scroll">
    <h:form id="listSalubridadVivienda">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findSalubridadVivienda" value="Find SalubridadVivienda" action="#{SalubridadViviendaSearch.find}" reRender="salubridadViviendas"/>
            &#160;
            <h:commandButton id="Create" value="New SalubridadVivienda" action="#{SalubridadViviendaInscription.newSalubridadVivienda}"/>

            <h:outputText id="NoSalubridadViviendaFoundMessage" value="salubridadVivienda no encontrado" rendered="#{salubridadViviendasC != null and salubridadViviendasC.rowCount==0}"/>
            <rich:dataTable id="salubridadViviendas" value="#{salubridadViviendasC}" var="sal" rendered="#{salubridadViviendasC.rowCount>0}">
             <h:column id="columnViasDeAcceso">
                  <f:facet id="viasDeAccesoFacet" name="header">viasDeAcceso</f:facet>
                  #{sal.viasDeAcceso}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{sal.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewSalubridadVivienda" value="Detalles" action="#{SalubridadViviendaInscription.selectSalubridadVivienda(sal)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
