<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
<!-- content -->
<ui:define name="body">
    
<div class ="section">
    <h1> Detalles SalubridadVivienda </h1>
</div>

<s:div styleClass="section">
  <h:form id="TheSalubridadVivienda">
    <rich:panel>
        <f:facet name="header">Selected SalubridadVivienda: </f:facet>

        <h:panelGroup rendered="#{salubridadVivienda.id != null}">
          <div class="entry">
            <div class="label"><b>Username: #{salubridadVivienda.id}</b></div>
          </div>
        </h:panelGroup>
        
    <f:subview id="validation"> 
        <s:decorate id="DecorateViasDeAcceso" template="layout/display.xhtml">             
        <ui:define name="label">ViasDeAcceso:</ui:define>
        #{salubridadVivienda.viasDeAcceso}
        </s:decorate>
        <s:decorate id="DecorateCondicionesRegulares" template="layout/display.xhtml">             
        <ui:define name="label">CondicionesRegulares:</ui:define>
        #{salubridadVivienda.condicionesRegulares.id}
        </s:decorate> 
        <s:decorate id="DecorateCondicionesSanitariasOptimas" template="layout/display.xhtml">             
        <ui:define name="label">CondicionesSanitariasOptimas:</ui:define>
        #{salubridadVivienda.condicionesSanitariasOptimas.id}
        </s:decorate> 
        <s:decorate id="DecorateVivienda" template="layout/display.xhtml">             
        <ui:define name="label">Vivienda:</ui:define>
        #{salubridadVivienda.vivienda.id}
        </s:decorate> 
        <s:decorate id="DecorateComodidadesModeradas" template="layout/display.xhtml">             
        <ui:define name="label">ComodidadesModeradas:</ui:define>
        #{salubridadVivienda.comodidadesModeradas.id}
        </s:decorate> 
        <s:decorate id="DecorateEspacioReducido" template="layout/display.xhtml">             
        <ui:define name="label">EspacioReducido:</ui:define>
        #{salubridadVivienda.espacioReducido.id}
        </s:decorate> 
        <s:decorate id="DecorateCondicionesSanitariasMarcadamenteInadecuadas" template="layout/display.xhtml">             
        <ui:define name="label">CondicionesSanitariasMarcadamenteInadecuadas:</ui:define>
        #{salubridadVivienda.condicionesSanitariasMarcadamenteInadecuadas.id}
        </s:decorate> 
        <s:decorate id="DecorateId" template="layout/display.xhtml">             
        <ui:define name="label">Id:</ui:define>
        #{salubridadVivienda.id}
        </s:decorate>
        <s:decorate id="DecorateDeficienciasSanitarias" template="layout/display.xhtml">             
        <ui:define name="label">DeficienciasSanitarias:</ui:define>
        #{salubridadVivienda.deficienciasSanitarias.id}
        </s:decorate> 
      </f:subview>
        
        <s:button id="Edit" value="Editar" view="/SalubridadViviendaEdit.xhtml"/>
              &#160;           
        <h:commandButton id="delete" value="Borrar" action="#{SalubridadViviendaInscription.delete}"/>
              &#160;
        </rich:panel>
    </h:form>
  </div>
<rich:spacer/>



    </ui:define>
</ui:composition>
