<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Salud</h1>
    </div>

<div class="section">
  <f:subview id="SaludTable">
    <div id="scroll">
    <h:form id="listSalud">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findSalud" value="Find Salud" action="#{SaludSearch.find}" reRender="saluds"/>
            &#160;
            <h:commandButton id="Create" value="New Salud" action="#{SaludInscription.newSalud}"/>

            <h:outputText id="NoSaludFoundMessage" value="salud no encontrado" rendered="#{saludsC != null and saludsC.rowCount==0}"/>
            <rich:dataTable id="saluds" value="#{saludsC}" var="sal" rendered="#{saludsC.rowCount>0}">
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{sal.id}
            </h:column>
             <h:column id="columnEntidadDeSalud">
                  <f:facet id="entidadDeSaludFacet" name="header">entidadDeSalud</f:facet>
                  #{sal.entidadDeSalud}
            </h:column>
             <h:column id="columnNombreEntidadDeSalud">
                  <f:facet id="nombreEntidadDeSaludFacet" name="header">nombreEntidadDeSalud</f:facet>
                  #{sal.nombreEntidadDeSalud}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewSalud" value="Detalles" action="#{SaludInscription.selectSalud(sal)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
