<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>ServiciosVivienda</h1>
    </div>

<div class="section">
  <f:subview id="ServiciosViviendaTable">
    <div id="scroll">
    <h:form id="listServiciosVivienda">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findServiciosVivienda" value="Find ServiciosVivienda" action="#{ServiciosViviendaSearch.find}" reRender="serviciosViviendas"/>
            &#160;
            <h:commandButton id="Create" value="New ServiciosVivienda" action="#{ServiciosViviendaInscription.newServiciosVivienda}"/>

            <h:outputText id="NoServiciosViviendaFoundMessage" value="serviciosVivienda no encontrado" rendered="#{serviciosViviendasC != null and serviciosViviendasC.rowCount==0}"/>
            <rich:dataTable id="serviciosViviendas" value="#{serviciosViviendasC}" var="ser" rendered="#{serviciosViviendasC.rowCount>0}">
             <h:column id="columnCalidad">
                  <f:facet id="calidadFacet" name="header">calidad</f:facet>
                  #{ser.calidad}
            </h:column>
             <h:column id="columnDisponibiliadadServicioPorSemana">
                  <f:facet id="disponibiliadadServicioPorSemanaFacet" name="header">disponibiliadadServicioPorSemana</f:facet>
                  #{ser.disponibiliadadServicioPorSemana}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{ser.id}
            </h:column>
             <h:column id="columnTipoServicio">
                  <f:facet id="tipoServicioFacet" name="header">tipoServicio</f:facet>
                  #{ser.tipoServicio}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewServiciosVivienda" value="Detalles" action="#{ServiciosViviendaInscription.selectServiciosVivienda(ser)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
