<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
<!-- content -->
<ui:define name="body">
    
<div class ="section">
    <h1> Detalles ServiciosVivienda </h1>
</div>

<s:div styleClass="section">
  <h:form id="TheServiciosVivienda">
    <rich:panel>
        <f:facet name="header">Selected ServiciosVivienda: </f:facet>

        <h:panelGroup rendered="#{serviciosVivienda.id != null}">
          <div class="entry">
            <div class="label"><b>Username: #{serviciosVivienda.id}</b></div>
          </div>
        </h:panelGroup>
        
    <f:subview id="validation"> 
        <s:decorate id="DecorateCalidad" template="layout/display.xhtml">             
        <ui:define name="label">Calidad:</ui:define>
        #{serviciosVivienda.calidad}
        </s:decorate>
        <s:decorate id="DecorateDisponibiliadadServicioPorSemana" template="layout/display.xhtml">             
        <ui:define name="label">DisponibiliadadServicioPorSemana:</ui:define>
        #{serviciosVivienda.disponibiliadadServicioPorSemana}
        </s:decorate>
        <s:decorate id="DecorateId" template="layout/display.xhtml">             
        <ui:define name="label">Id:</ui:define>
        #{serviciosVivienda.id}
        </s:decorate>
        <s:decorate id="DecorateVivienda" template="layout/display.xhtml">             
        <ui:define name="label">Vivienda:</ui:define>
        #{serviciosVivienda.vivienda.id}
        </s:decorate> 
        <s:decorate id="DecorateTipoServicio" template="layout/display.xhtml">             
        <ui:define name="label">TipoServicio:</ui:define>
        #{serviciosVivienda.tipoServicio}
        </s:decorate>
      </f:subview>
        
        <s:button id="Edit" value="Editar" view="/ServiciosViviendaEdit.xhtml"/>
              &#160;           
        <h:commandButton id="delete" value="Borrar" action="#{ServiciosViviendaInscription.delete}"/>
              &#160;
        </rich:panel>
    </h:form>
  </div>
<rich:spacer/>



    </ui:define>
</ui:composition>
