<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>TiempoDisponible</h1>
    </div>

<div class="section">
  <f:subview id="TiempoDisponibleTable">
    <div id="scroll">
    <h:form id="listTiempoDisponible">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findTiempoDisponible" value="Find TiempoDisponible" action="#{TiempoDisponibleSearch.find}" reRender="tiempoDisponibles"/>
            &#160;
            <h:commandButton id="Create" value="New TiempoDisponible" action="#{TiempoDisponibleInscription.newTiempoDisponible}"/>

            <h:outputText id="NoTiempoDisponibleFoundMessage" value="tiempoDisponible no encontrado" rendered="#{tiempoDisponiblesC != null and tiempoDisponiblesC.rowCount==0}"/>
            <rich:dataTable id="tiempoDisponibles" value="#{tiempoDisponiblesC}" var="tie" rendered="#{tiempoDisponiblesC.rowCount>0}">
             <h:column id="columnJornada">
                  <f:facet id="jornadaFacet" name="header">jornada</f:facet>
                  #{tie.jornada}
            </h:column>
             <h:column id="columnObservaciones">
                  <f:facet id="observacionesFacet" name="header">observaciones</f:facet>
                  #{tie.observaciones}
            </h:column>
             <h:column id="columnDia">
                  <f:facet id="diaFacet" name="header">dia</f:facet>
                  #{tie.dia}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{tie.id}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewTiempoDisponible" value="Detalles" action="#{TiempoDisponibleInscription.selectTiempoDisponible(tie)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
