<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Editar TiempoDisponible</h1>
    </div>

    <h:form id="tiempoDisponible" styleClass="edit">

           <s:decorate id="JornadaField" template="layout/edit.xhtml">
                <ui:define name="label">Jornada</ui:define>
                <h:inputText id="jornada"
                           size="20"
                      maxlength="20"
                          value="#{tiempoDisponible.jornada}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="ObservacionesField" template="layout/edit.xhtml">
                <ui:define name="label">Observaciones</ui:define>
                <h:inputText id="observaciones"
                           size="20"
                      maxlength="20"
                          value="#{tiempoDisponible.observaciones}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="DiaField" template="layout/edit.xhtml">
                <ui:define name="label">Dia</ui:define>
                <h:inputText id="dia"
                           size="20"
                      maxlength="20"
                          value="#{tiempoDisponible.dia}">
                </h:inputText>
            </s:decorate>
    
     


            <div style="clear:both">
                <span class="required">*</span>
                Campo obligatorio
            </div> 


                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{TiempoDisponibleInscription.editTiempoDisponible}"/>
                <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{TiempoDisponibleInscription.TiempoDisponible}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
