<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../common/layout/template.xhtml">
    
<!-- content -->
<ui:define name="body">

<rich:panel>
        <f:facet name="header">Selected Vivienda: </f:facet>

        <div class="dialog">
                <h:panelGrid columns="2" rowClasses="prop" columnClasses="name,value">
                    
                    <h:outputLabel>Id:</h:outputLabel>
                    #{vivienda.id}               
                   
                    <h:outputLabel>Direccion Domicilio:</h:outputLabel>
                    #{vivienda.direccionDomicilio}
                    
                    <h:outputLabel>Telefono:</h:outputLabel>
                    #{vivienda.telefono}
                    
                     <h:outputLabel>Estrato:</h:outputLabel>
                    #{vivienda.barrio}
                    
                    <h:outputLabel>Barrio:</h:outputLabel>
                    #{vivienda.estrato}
                    
                    <h:outputLabel>Tipo Vivienda:</h:outputLabel>
                    #{vivienda.tipoVivienda}
                    
                    <h:outputLabel>Salubridad:</h:outputLabel>
                    #{vivienda.salubridad.id}
                    
                    <h:outputLabel>Numero Familias EnVivienda:</h:outputLabel>
                    #{vivienda.numeroFamiliasEnVivienda}
 
                </h:panelGrid>
            </div>
        
</rich:panel>

<div class="actionButtons">
        <s:button id="Edit" value="Editar" view="/ViviendaEdit.xhtml"/>
              &#160;           
        <h:commandButton id="delete" value="Borrar" action="#{ViviendaInscription.delete}"/>
              &#160;
</div>





</ui:define>


</ui:composition>
