<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">
    <div class ="section">
    <h1>Vivienda</h1>
    </div>

<div class="section">
  <f:subview id="ViviendaTable">
    <div id="scroll">
    <h:form id="listVivienda">
      <rich:panel>
         <f:facet name="header">Contract list</f:facet>
            <h:commandButton id="findVivienda" value="Find Vivienda" action="#{ViviendaSearch.find}" reRender="viviendas"/>
            &#160;
            <h:commandButton id="Create" value="New Vivienda" action="#{ViviendaInscription.newVivienda}"/>

            <h:outputText id="NoViviendaFoundMessage" value="vivienda no encontrado" rendered="#{viviendasC != null and viviendasC.rowCount==0}"/>
            <rich:dataTable id="viviendas" value="#{viviendasC}" var="viv" rendered="#{viviendasC.rowCount>0}">
             <h:column id="columnTelefono">
                  <f:facet id="telefonoFacet" name="header">telefono</f:facet>
                  #{viv.telefono}
            </h:column>
             <h:column id="columnEstrato">
                  <f:facet id="estratoFacet" name="header">estrato</f:facet>
                  #{viv.estrato}
            </h:column>
             <h:column id="columnNumeroFamiliasEnVivienda">
                  <f:facet id="numeroFamiliasEnViviendaFacet" name="header">numeroFamiliasEnVivienda</f:facet>
                  #{viv.numeroFamiliasEnVivienda}
            </h:column>
             <h:column id="columnTipoVivienda">
                  <f:facet id="tipoViviendaFacet" name="header">tipoVivienda</f:facet>
                  #{viv.tipoVivienda}
            </h:column>
             <h:column id="columnId">
                  <f:facet id="idFacet" name="header">id</f:facet>
                  #{viv.id}
            </h:column>
             <h:column id="columnDireccionDomicilio">
                  <f:facet id="direccionDomicilioFacet" name="header">direccionDomicilio</f:facet>
                  #{viv.direccionDomicilio}
            </h:column>
             <h:column id="columnBarrio">
                  <f:facet id="barrioFacet" name="header">barrio</f:facet>
                  #{viv.barrio}
            </h:column>
              <h:column id="columnLink">
                <f:facet id="ActionFacet" name="header">Action</f:facet>
                <s:link id="viewVivienda" value="Detalles" action="#{ViviendaInscription.selectVivienda(viv)}"/>  
              </h:column>
    </rich:dataTable>
    </rich:panel>
    </h:form>
    </div>
  </f:subview>
</div>  
    
    </ui:define>
</ui:composition>
