<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Editar Vivienda</h1>
    </div>

    <h:form id="vivienda" styleClass="edit">

           <s:decorate id="TelefonoField" template="layout/edit.xhtml">
                <ui:define name="label">Telefono</ui:define>
                <h:inputText id="telefono"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.telefono}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="EstratoField" template="layout/edit.xhtml">
                <ui:define name="label">Estrato</ui:define>
                <h:inputText id="estrato"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.estrato}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="NumeroFamiliasEnViviendaField" template="layout/edit.xhtml">
                <ui:define name="label">NumeroFamiliasEnVivienda</ui:define>
                <h:inputText id="numeroFamiliasEnVivienda"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.numeroFamiliasEnVivienda}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="TipoViviendaField" template="layout/edit.xhtml">
                <ui:define name="label">TipoVivienda</ui:define>
                <h:inputText id="tipoVivienda"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.tipoVivienda}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="DireccionDomicilioField" template="layout/edit.xhtml">
                <ui:define name="label">DireccionDomicilio</ui:define>
                <h:inputText id="direccionDomicilio"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.direccionDomicilio}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="BarrioField" template="layout/edit.xhtml">
                <ui:define name="label">Barrio</ui:define>
                <h:inputText id="barrio"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.barrio}">
                </h:inputText>
            </s:decorate>
    
          <a:commandButton id="getServicioss" value="Add Servicios" action="#{ServiciosViviendaSearch.getServiciosViviendasC}" reRender="searchResultsServicios"/>
            &#160;

          <a:outputPanel id="searchResultsServicios">
            <div class="section">
              <h:outputText id="NoServiciossFoundMessage"
                value="servicios no encontrado"
                rendered="#{serviciosViviendasC != null and serviciosViviendasC.rowCount==0}" />
              <h:dataTable id="servicios" value="#{serviciosViviendasC}" var="ser" rendered="#{serviciosViviendasC.rowCount>0}">
    
                <h:column id="columnCalidad">
                  <f:facet id="CalidadFacet" name="header"> Calidad </f:facet>
                    #{ser.calidad}
                </h:column>
              
                <h:column id="columnDisponibiliadadServicioPorSemana">
                  <f:facet id="DisponibiliadadServicioPorSemanaFacet" name="header"> DisponibiliadadServicioPorSemana </f:facet>
                    #{ser.disponibiliadadServicioPorSemana}
                </h:column>
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{ser.id}
                </h:column>
              
              
                <h:column id="columnTipoServicio">
                  <f:facet id="TipoServicioFacet" name="header"> TipoServicio </f:facet>
                    #{ser.tipoServicio}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddServiciosVivienda" value="Agregar" action="#{ServiciosViviendaInscription.insertInVivienda(ser) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
          <a:commandButton id="getAlrededoress" value="Add Alrededores" action="#{AlrededoresViviendaSearch.getAlrededoresViviendasC}" reRender="searchResultsAlrededores"/>
            &#160;

          <a:outputPanel id="searchResultsAlrededores">
            <div class="section">
              <h:outputText id="NoAlrededoressFoundMessage"
                value="alrededores no encontrado"
                rendered="#{alrededoresViviendasC != null and alrededoresViviendasC.rowCount==0}" />
              <h:dataTable id="alrededores" value="#{alrededoresViviendasC}" var="alr" rendered="#{alrededoresViviendasC.rowCount>0}">
    
                <h:column id="columnTipo">
                  <f:facet id="TipoFacet" name="header"> Tipo </f:facet>
                    #{alr.tipo}
                </h:column>
              
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{alr.id}
                </h:column>
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddAlrededoresVivienda" value="Agregar" action="#{AlrededoresViviendaInscription.insertInVivienda(alr) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
          <a:commandButton id="getFamiliass" value="Add Familias" action="#{FamiliaSearch.getFamiliasC}" reRender="searchResultsFamilias"/>
            &#160;

          <a:outputPanel id="searchResultsFamilias">
            <div class="section">
              <h:outputText id="NoFamiliassFoundMessage"
                value="familias no encontrado"
                rendered="#{familiasC != null and familiasC.rowCount==0}" />
              <h:dataTable id="familias" value="#{familiasC}" var="fam" rendered="#{familiasC.rowCount>0}">
    
              
              
              
              
                <h:column id="columnId">
                  <f:facet id="IdFacet" name="header"> Id </f:facet>
                    #{fam.id}
                </h:column>
              
              
              
                
                <h:column id="column3">
                  <f:facet id="ActionFacet" name="header">Action</f:facet>          
                  <s:link id="AddFamilia" value="Agregar" action="#{FamiliaInscription.insertInVivienda(fam) }" />
                </h:column>
              </h:dataTable>
            </div>
          </a:outputPanel>
     


            <div style="clear:both">
                <span class="required">*</span>
                Campo obligatorio
            </div> 


                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{ViviendaInscription.editVivienda}"/>
                <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{ViviendaInscription.Vivienda}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
