<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="../layout/template.xhtml">
    
    <!-- content -->
    <ui:define name="body">

    <div class ="section">
    <h1>Inscripcion Vivienda </h1>
    </div>

    <h:form id="vivienda" styleClass="edit">

        <rich:panel>
        
        <s:decorate id="DireccionDomicilioField" template="../layout/edit.xhtml">
                <ui:define name="label">Direccion</ui:define>
                <h:inputText id="direccionDomicilio"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.direccionDomicilio}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="BarrioField" template="../layout/edit.xhtml">
                <ui:define name="label">Barrio</ui:define>
                <h:inputText id="barrio"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.barrio}">
                </h:inputText>
            </s:decorate>
    
           <s:decorate id="TelefonoField" template="../layout/edit.xhtml">
                <ui:define name="label">Telefono</ui:define>
                <h:inputText id="telefono"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.telefono}">
                </h:inputText>
            </s:decorate>
            
           <s:decorate id="EstratoField" template="../layout/edit.xhtml">
                <ui:define name="label">Estrato</ui:define>
                <h:inputText id="estrato"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.estrato}">
                </h:inputText>
            </s:decorate>
            
           <s:decorate id="NumeroFamiliasEnViviendaField" template="../layout/edit.xhtml">
                <ui:define name="label">Numero de familias</ui:define>
                <h:inputText id="numeroFamiliasEnVivienda"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.numeroFamiliasEnVivienda}">
                </h:inputText>
            </s:decorate>
           <s:decorate id="TipoViviendaField" template="../layout/edit.xhtml">
                <ui:define name="label">Tipo vivienda</ui:define>
                <h:inputText id="tipoVivienda"
                           size="20"
                      maxlength="20"
                          value="#{vivienda.tipoVivienda}">
                </h:inputText>
            </s:decorate>
           
           
     
            <div style="clear:both">
                <span class="required">*</span>
                Campos obligatorios
            </div> 

        </rich:panel>
     
                <h:commandButton id="confirm"
                         value="Confirmar"
                         action="#{ViviendaInscription.confirm}"/>
                         
                 <h:commandButton id="cancel"
                         value="Cancelar"
                         action="#{ViviendaInscription.cancel}"/>
       
        </h:form>
    </ui:define>
</ui:composition>
